<div id="aside">
      <div id="category">
        <h4>【文章分類】</h4>
        <ul>
        <% @categories.each do | category | %>        	
          <li><a href="<%= category_writing_path( :id => category['classno'] ) %>"><%= "#{category['classname']}(#{category['count']})" %></a></li>
        <% end %>
        </ul>
      </div>
      <!--category-->
      <div id="publish">
      	<div id="month-article-template" style="display:none;"><li><a href="{WRITING_LINK}">{WRITING_TITLE}</a></li></div>
        <h4>【文章張貼】</h4>
        <ol>
        
        <% # predefines
        
        	current_year = nil
        	change_flag = false
        	counter = 0
        %>
        
<% @summery.each do | block | %>
		
	<% if current_year != block["year"] 	
		current_year = block["year"]    
		change_flag = true		
	%>        				
		<li class="fold"><a href="javascript: void(0);"><img src="<%= get_current_host_and_port %>application/images/share-p2.gif"><%= block["year"] %> 
		<span id="year_<%= current_year %>_num"></span></a>
        	<ol>        
	<% end %>
	
	<% counter += block["count"] %>
		<li class="fold"><a class="month-title" data-year="<%= current_year %>" data-month="<%= block["month"] %>" href="javascript: void(0);" ><img src="<%= get_current_host_and_port %>application/images/share-p1.gif"><%= t("date.month_names")[block["month"]] %> (<%= block["count"] %>)</a>
			<ol class="month-articles"></ol>			
			
		</li>				
	<% if change_flag %>
        	</ol>
		</li>
		<script type="text/javascript">
			// 好吧，鳥事都在這邊做吧
			$('#year_<%= current_year %>_num').html('(' + <%= counter %> + ')');
		</script>
    <%    
		counter = 0
	%>
    <% end %>
    	
        <% end %>
        </ol>
      </div>
      <!--publish--> 
    </div>
    <!--aside--> 
    
    
 <script type="text/javascript">
 // 好吧開工

$('#publish li.fold a').click(function() {
	
	var image_path = 'application/images/';
	$(this).children('img[src*=share-p]').each(function(){ 
		var image = $(this).attr('src'); 
		$(this).attr('src', /share-p1\.gif$/.test(image) ? image_path + 'share-p2.gif' : image_path + 'share-p1.gif') 
	});
});

function assign_vars( template, data_ary ) {	

	var replace_ary = [];

	// 取代標的
	for( var i in data_ary ) {
		var article = template;
		var set = data_ary[i];
		
		for( var col in set ) {
			article = article.replace('{' + col + '}', set[col])
		}
		
		replace_ary.push(article);
		
	}		
	
	return replace_ary;
}

$('.month-title').click(function() {

	var container = $(this).parent().children('.month-articles');

	if ( container.children().length > 0 ) {
		container.toggle('fast');
		return;
	}
	
	var loading = $('<img height="15" style="padding: 4px 0 0 4px;" src="<%= get_current_host_and_port %>application/images/loading-light.gif" />');
	
	$(this).append(loading);

	$.ajax(
	{ 
		url: "<%= cross_reader_path( :id => 'month-writing' ) + '.json' %>", 
		dataType: 'json',
		data: { year: $(this).data('year'), month: $(this).data('month') },
		success: function(data) {
			
			loading.remove();
				
			// 這裡放樣板初始化
			var template = $('#month-article-template').html();
			var data_ary = [];
	
			for( var i in data ) {
				var set = data[i];
				
				// 設定資料
				var assign_ary = {
					'WRITING_TITLE'				: set.title,
					'WRITING_LINK'				: "<%= writings_path %>/" + set.id,
				}
				
				data_ary.push( assign_ary );
			}
			
			
			var obj_ary = assign_vars( template, data_ary );		
			container.hide();
			for( var i in obj_ary ) {
				var article = obj_ary[i];			
				$(article).appendTo(container);
			}		
			container.toggle('fast');
		}	
	});
});

 
 
 </script>