<% @css_path = get_current_host_and_port + "application/css/download_contents.css" %>
<%= render :partial => "shared/application_top" %>

<script>
$(function(){


	var _showTab = 0;
	var $defaultLi = $('ul.tabs li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
	$('ul.tabs li').click(function() {
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');
		$this.addClass('active').siblings('.active').removeClass('active');
		$(_clickTab).stop(false, true).fadeIn().siblings().hide();

		return false;
	}).find('a').focus(function(){
		this.blur();
	});


	if ( window.location.hash && window.location.hash.substr(1).match( /^tab\d/ ) ) {
		$('a[href^=#' + window.location.hash.substr(1) + ']').click();
		window.scrollTo(0,0);
	}
})
</script>


<div id="container">
    <div id="banner">
      <h2>下載專區</h2>
      <h3>&nbsp;</h3>
    </div>
    <!--banner-->
    <div id="main">
      <div id="side" class="left">
        <ul class="tabs">
          <li><a href="#tab-a">XQ全球贏家</a></li>
          <li><a href="#tab-b">XQ策略高手</a></li>
        </ul>
      </div>
      <!--side-->
      <div id="content" class="right">
        <div id="tab-a" class="tab_content1">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" align="left" valign="top">
                <table id="ver-tbl" width="100%" border="1" cellspacing="0" cellpadding="0"
                >
                <thead>
                <tr>
                  <th width="10%" class="logo">&nbsp;</th>
                  <th width="8%" class="version">版本</th>
                  <th width="20%" class="release">更新日期</th>
                  <th width="16%" class="files">下載點</th>
                  <th >說明</th>
                </tr>
                </thead>
                <% @version_logs.each_with_index do |version_log, index| %>
                <tr class="<%= "first" if index == 0 %>">
                  <td class="logo"><% if index == 0  %><img src="<%= get_current_host_and_port %>application/images/new.png" />
                  <% end %>
                  </td>
                  <td class="version"><%= sprintf('%.2f', version_log.version) %></td>
                  <td class="release"><%= version_log.release_date.to_s %></td>
                  <td class="files">
                    <ul>
                      <li><a href="http://login.xq.com.tw/dassvr/installer/DAQ/TW/<%=sprintf('%.2f', version_log.version) %>/setup.exe">完整安裝</a></li>
                      <li><a href="http://login.xq.com.tw/dassvr/installer/DAQ/TW/<%=sprintf('%.2f', version_log.version)%>/update.exe">升級程式</a></li>
                    </ul>
                  </td>
                  <td class="memo"><%= raw(version_log.memo) %></td>
                </tr>
                <% end %>
                </table>
                <br/>
                <br/>
              </td>
            </tr>
          </table>
          <div>行動版本：</div>
          <div class="xqm-qrcode">
            <img src="<%= get_current_host_and_port %>application/images/new/xqm.png" width="677" height="131" usemap="#DownloadMap" border="0" />
            <map name="DownloadMap" id="DownloadMap">
                <area alt="自動偵測裝置" title="自動偵測裝置" href="http://new.xq.com.tw/download_detection" shape="rect" coords="7,4,126,128" style="outline:none;" target="_self" />
                <area alt="iPhone版" title="iPhone版" href="https://itunes.apple.com/us/app/xq-quan-qiu-ying-jia-shou-ji-ban/id775687957?mt=8&ign-mpt=uo%3D4" shape="rect" coords="131,5,305,129" style="outline:none;" target="_self" />
                <area alt="iPad版" title="iPad版" href="https://itunes.apple.com/us/app/xq-quan-qiu-ying-jia/id642738082?ls=1&mt=8" shape="rect" coords="312,9,489,122" style="outline:none;" target="_self" />
                <area alt="Android版" title="Android版" href="https://play.google.com/store/apps/details?id=djapp.app.xqm" shape="rect" coords="497,8,674,121" style="outline:none;" target="_self" />
            </map>
          </div>
        </div>
        <div id="tab-b" class="tab_content1">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" align="left" valign="top">
                <table id="ver-tbl" width="100%" border="1" cellspacing="0" cellpadding="0"
                >
                <thead>
                <tr>
                  <th width="10%" class="logo">&nbsp;</th>
                  <th width="8%" class="version">版本</th>
                  <th width="20%" class="release">更新日期</th>
                  <th width="16%" class="files">下載點</th>
                  <th >說明</th>
                </tr>
                </thead>
                <% @version_logs_xqlite.each_with_index do |version_log, index| %>
                <tr class="<%= "first" if index == 0 %>">
                  <td class="logo"><% if index == 0  %><img src="<%= get_current_host_and_port %>application/images/new.png" />
                  <% end %>
                  </td>
                  <td class="version"><%= sprintf('%.2f', version_log.version) %></td>
                  <td class="release"><%= version_log.release_date.to_s %></td>
                  <td class="files">
                    <ul>
                      <li><a href="http://login.xq.com.tw/dassvr/installer/DAQ/TW/<%=sprintf('%.2f', version_log.version) %>/setup.exe">完整安裝</a></li>
                      <li><a href="http://login.xq.com.tw/dassvr/installer/DAQ/TW/<%=sprintf('%.2f', version_log.version)%>/update.exe">升級程式</a></li>
                    </ul>
                  </td>
                  <td class="memo"><%= raw(version_log.memo) %></td>
                </tr>
                <% end %>
                </table>
                <br/>
                <br/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<!--main-->


<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->
