<% @css_path = get_current_host_and_port + "application/css/download_contents.css" %>
<%= render :partial => "shared/application_top" %>

<div id="container">
  <div id="main">
    <div id="banner">
      <h2>下載專區</h2>
      <h3>&nbsp;</h3>
    </div>
    <!--banner-->
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3" align="left" valign="top">
            <table id="ver-tbl" width="100%" border="1" cellspacing="0" cellpadding="0"
            >
            <thead>
            <tr>
              <th width="10%" class="logo">&nbsp;</th>
              <th width="8%" class="version">版本</th>
              <th width="20%" class="release">更新日期</th>
              <th width="16%" class="files">下載點</th>
              <th >說明</th>
            </tr>
            </thead>
            <% @version_logs.each_with_index do |version_log, index| %>
            <tr class="<%= "first" if index == 0 %>">
              <td class="logo"><% if index == 0  %><img src="<%= get_current_host_and_port %>application/images/new.png" />
              <% end %>
              </td>
              <td class="version"><%= version_log.version.to_s %></td>
              <td class="release"><%= version_log.release_date.to_s %></td>
              <td class="files">
                <ul>
                  <li><a href="http://login.xq.com.tw/dassvr/installer/<%=version_log.version%>/setup.exe">完整安裝</a></li>
                  <li><a href="http://login.xq.com.tw/dassvr/installer/<%=version_log.version%>/update.exe">升級程式</a></li>
                </ul>
              </td>
              <td class="memo"><%= raw(version_log.memo) %></td>
            </tr>
            <% end %>
            </table>
            <br/>
            <br/>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" width="46%"><h4>XQ使用手冊</h4>
            <p>XQ內建豐富系統看盤及分析頁面，多樣又實用的設計，滿足使用者即時或非即時的資訊使用，除此之外更提供最彈性、最強大的個人化看盤介面，由使用者自行規劃符合自己所需的頁面。詳細的內容讓您輕鬆學會如何使用XQ。</p>
            <a href="http://www.xq.com.tw/aphelp/DAQ/default.htm" target="_blank"><img src="<%= get_current_host_and_port %>application/images/dl-03.jpg" width="308" height="76" /></a><br />
            <br />
            <br />
          </td>
          <td align="left" valign="top" width="8%">&nbsp;</td>
          <td align="left" valign="top" width="46%"><h4>XS策略雷達使用手冊</h4>
            <p>XS策略雷達全新推出，提供豐富的技術指標供您自訂圖形指標，進階警示支援大量股票快速掃描、將您的投資邏輯一一實現，看盤做決策如您所願。詳細的內容讓您輕鬆開始操作XS策略雷達。<br />
              <br />
            </p>
            <a target="_blank" href="<%= get_current_host_and_port %>download_contents/XS manual.pdf"><img src="<%= get_current_host_and_port %>application/images/dl-03.jpg" width="308" height="76" /></a><br />
            <br /></td>
        </tr>
        <tr>
          <td colspan="3" align="left" valign="top"><h4 id="file">XQ自設畫面檔案</h4>
            <div id="custom">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" >
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="<%= get_current_host_and_port %>application/images/lb-dl-04.jpg"><img src="<%= get_current_host_and_port %>application/images/dl-04.jpg" width="231" height="139" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>外匯整合畫面</h5>
                  透過自設畫面整合所有的外匯商品，同步的觀察各項商品即時走勢，與歷史趨勢圖以及相關的財經新聞。<br />
                  <br /></td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_01"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a><br />
                  <br /></td>
              </tr>
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="<%= get_current_host_and_port %>application/images/lb-dl-05.jpg"><img src="<%= get_current_host_and_port %>application/images/dl-05.jpg" width="232" height="139" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>美股重要個股（對照台股相關）</h5>
                  美國重要公司是世界上舉足輕重的跨國企業，透過系統觀察相關公司漲跌狀況，瞭解該公司對那些台灣相關企業會造成影響。 </td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_02"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a><br />
                  <br /></td>
              </tr>
              <tr>
                <td width="37%" rowspan="2" align="left" valign="top"><a class="lightbox" href="<%= get_current_host_and_port %>application/images/lb-dl-06.jpg"><img src="<%= get_current_host_and_port %>application/images/dl-06.jpg" width="232" height="140" /></a></td>
                <td width="63%" height="97" align="left" valign="top"><h5>中港台產業比較</h5>
                  XQ內的細產業是掌握產業脈動變化的好工具，台、陸、港股彼此間影響與連動性越來越密切，透過XQ自設畫面同步觀察與比較，讓投資人的視野不在局限於台灣的市場。</td>
              </tr>
              <tr>
                <td align="left" valign="top"><a href="http://new.xq.com.tw/download_contents/file_03"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a></td>
              </tr>
            </table></div></td>
        </tr>
      </table>
    
  </div>
</div>
<!--main-->


<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->