<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<style>
    #banner{background-image:url(<%= get_current_host_and_port %>application/images/banner-dm.jpg)}
    #content{font-size:24px;padding:75px 0}
    #content span{font-size:14px}
</style>
<%= render :partial => "shared/application_top" %><!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>ＤＭ下載</h2>
    </div>
    <!--banner-->
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="43%" rowspan="2"><img src="<%= get_current_host_and_port %>application/images/dm-01.jpg" width="163" height="212" /></td>
              <td width="57%" height="162" valign="bottom">XQ全球贏家DM<span>（繁中）</span></td>
            </tr>
            <tr>
              <td valign="bottom"><a href="#"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a></td>
            </tr>
          </table>
          </td>
          <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="44%" rowspan="2"><img src="<%= get_current_host_and_port %>application/images/dm-02.jpg" width="164" height="214" /></td>
              <td width="56%" height="163" valign="bottom">XQ全球贏家DM<span>（簡中）</span></td>
            </tr>
            <tr>
              <td valign="bottom"><a href="#"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a></td>
            </tr>
          </table></td>
        </tr>
      </table>

    </div>
    <!--content-->

  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
  <!--link-->
</div>
<!--container-->