<meta name="Robots" content="index,follow"/>
<link rel="SHORTCUT ICON" href="<%= get_current_host_and_port %>application/images/favicon.ico">
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="基金,法人,投資,股市,期貨,證券交易,外資 "/> 
<meta name="description" content="股市漲漲跌跌，投資選擇基金還是期貨？XQ提供即時精確的證券交易資訊，從盤中大小事到超過百種專業指標，徹底掌握法人、陸資、外資多方觀點。深入了解市場，立足大中華，透析全球財經脈動 ，滿足您投資決策的種種需求，投資先看 XQ 全球贏家。" /> 
<meta property="og:description" content="股市漲漲跌跌，投資選擇基金還是期貨？XQ提供即時精確的證券交易資訊，從盤中大小事到超過百種專業指標，徹底掌握法人、陸資、外資多方觀點。深入了解市場，立足大中華，透析全球財經脈動 ，滿足您投資決策的種種需求，投資先看 XQ 全球贏家。"/> 
<meta name="abstract" content="投資看 XQ，即時掌握全球市場資訊。 "/> 
<meta property="og:type" content="company"/>
<meta property="og:site_name" content=" XQ 嘉實全球贏家"/> 
<meta name="DC.Rights" content="XQ 全球贏家"/>
<meta name="DC.Date" content="2012/6/19"/> 
<meta name="DC.Subject" content="財經資訊的提供者 "/> 
<meta name="DC.Type" content="公司網站"/> 
<link rel="image_src" href="<%= get_current_host_and_port %>application/images/thumb.jpg"> 
<meta property="og:image" content="<%= get_current_host_and_port %>application/images/thumb.jpg"> 
<meta property="og:title" content="DM下載│XQ 嘉實全球贏家"/> 
<title>DM下載│XQ 嘉實全球贏家</title> 
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<style>
    #banner{background-image:url(<%= get_current_host_and_port %>application/images/banner-dm.jpg)}
    #content{font-size:24px;padding:75px 0}
    #content span{font-size:14px}
</style>
<%= render :partial => "shared/application_top" %><!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>ＤＭ下載</h2>
    </div>
    <!--banner-->
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="43%" rowspan="2"><img src="<%= get_current_host_and_port %>application/images/dm-01.jpg" width="163" height="212" /></td>
              <td width="57%" height="162" valign="bottom">XQ全球贏家DM<span>（繁中）</span></td>
            </tr>
            <tr>
              <td valign="bottom"><a href="<%= get_current_host_and_port %>download_dms/TC.zip"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a></td>
            </tr>
          </table>
          </td>
          <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="44%" rowspan="2"><img src="<%= get_current_host_and_port %>application/images/dm-02.jpg" width="164" height="214" /></td>
              <td width="56%" height="163" valign="bottom">XQ全球贏家DM<span>（簡中）</span></td>
            </tr>
            <tr>
              <td valign="bottom"><a href="<%= get_current_host_and_port %>download_dms/SC.zip"><img src="<%= get_current_host_and_port %>application/images/dm-03.jpg" width="144" height="38" /></a></td>
            </tr>
          </table></td>
        </tr>
      </table>

    </div>
    <!--content-->

  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
  <!--link-->
</div>
<!--container-->