<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/index.css">

<script>
$(function(){
	var _showTab = 0;
	var $defaultLi = $('#banner .tabs li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();

	$('#banner .tabs li').click(function() {
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');
		$this.addClass('active').siblings('.active').removeClass('active');
		$(_clickTab).stop(false, true).fadeIn().siblings().hide();

		return false;
	}).find('a').focus(function(){
		this.blur();
	});
});
</script>
<script>
$(function(){
	var _showTab = 0;
	var $defaultLi = $('.tab1 li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
	$('.tab1 li').click(function() {
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');
		$this.addClass('active').siblings('.active').removeClass('active');
		$(_clickTab).stop(false, true).fadeIn().siblings().hide();

		return false;
	}).find('a').focus(function(){
		this.blur();
	});
});
</script>
<script>
$(function(){
	var _showTab = 0;
	var $defaultLi = $('.tab2 li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
	$('.tab2 li').click(function() {
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');
		$this.addClass('active').siblings('.active').removeClass('active');
		$(_clickTab).stop(false, true).fadeIn().siblings().hide();

		return false;
	}).find('a').focus(function(){
		this.blur();
	});
});
</script>


<div id="header">
  <div id="top">
    <h1><img src="<%= get_current_host_and_port %>application/images/logo.png" title="XQ全球贏家" /></h1>
    <ul id="nav">
      <li><a href="traits.html">產品特色</a>
        <ul class="child" id="child-1">
          <li><a href="<%= traits_url %>">XQ全球贏家</a></li>
					<li><a href="<%= traits_of_xqlite_url %>">XQ操盤高手</a></li>
          <li><a href="<%= new_experience_url %>">申請試用</a></li>
					<li><a href="<%= questions_url %>">常見問題</a></li>
        </ul>
      </li>
      <li><a href="<%= page_path( :id => 'radar-intro' ) %>">策略功能</a>
        <ul class="child" id="child-2">
          <li><a href="<%= page_path( :id => 'radar-intro' ) %>">策略雷達</a></li>
          <li><a href="<%= category_path( :id => 'xs' ) %>">影片教學</a></li>
          <li><a href="<%= posts_path %>">討論區</a></li>
          <li><a href="<%= page_path( :id => 'radar-qa' ) %>">常見問題</a></li>
          <li><a href="http://xshelp.xq.com.tw/xslesson/">語法教學</a></li>
          <li><a href="http://xshelp.xq.com.tw">函數搜尋</a></li>
        </ul>
      </li>
      <li><a href="xqtrade.html">交易功能</a>
        <ul class="child" id="child-3">
	      <li><a href="<%= xqtrade_url %>">交易功能</a></li>
	      <li><a href="<%= xqtrade_partner_url %>">合作夥伴</a></li>
	      <li><a href="<%= xqtrade_faq_url %>">常見問題</a></li>
	      <li><a href="<%= xqtrade_manual_url %>">使用手冊</a></li>
        </ul>
      </li>
			<li>
          <a href="<%= courses_url %>">實務課程</a>
          <ul class="child" id="child-4">
              <li><a href="<%= courses_url %>">講座課程</a></li>
          </ul>
      </li>
			<li>
				<a href="<%= category_url(Category.last) %>">實機教學</a>
        <ul class="child" id="child-5">
            <li><a href="<%= category_url(Category.last) %>">全新策略教戰</a></li>
            <li><a href="<%= category_url(1) %>">獨家操作教戰</a></li>
            <li><a href="<%= category_url(2) %>">獨家資訊教戰</a></li>
            <li><a href="<%= category_url(3) %>">獨家分析教戰</a></li>
						<li><a href="<%= online_demonstrations_url %>">線上體驗</a></li>
        </ul>
			</li>
			<li>
          <a href="<%= writings_path %>">專家分享</a>
          <ul class="child" id="child-6">
              <li><a href="<%= writings_path %>">專家分享</a></li>
          </ul>
      </li>
	  	<li>
				<a href="<%= download_contents_url %>">下載區</a>
				<ul class="child" id="child-7">
					<li><a href="<%= download_contents_url %>">程式下載</a></li>
          <li><a href="<%= customize_url %>">自設畫面</a></li>
          <li><a href="<%= manual_url %>">使用手冊</a></li>
					<li><a href="<%= download_dms_url %>">ＤＭ下載</a></li>
				</ul>
			</li>
      <li><a href="<%= purchasing_url %>">我要購買</a>
				<ul class="child" id="child-8">
            <li><a href="<%= purchasing_url %>">XQ旗艦版</a></li>
            <li><a href="<%= purchasing_xqlite_url %>">XQ輕量版</a></li>
        </ul>
			</li>
      <li><a href="http://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342" target="_blank">粉絲團</a></li>
    </ul>
  </div>
  <!--top-->
  <div id="banner">
<!--tabs-->
<div class="content"><a href="<%= traits_url %>"><img src="<%= get_current_host_and_port %>application/images/new/banner-home-xq.png" width="1010" height="251" /></a></div>
<div class="content"><a href="<%= traits_of_xqlite_url %>"><img src="<%= get_current_host_and_port %>application/images/new/banner-home-xqlite.png" width="1010" height="251" /></a></div>
<!--content-->
</div>
<!--banner-->
</div>
<!--header-->
<div id="main">
	<div id="main-top">
   <!--course-->
    <div id="course">
      <ul>
				<% @display_courses.each do | course |  %>
          	<li><%= course.start_time.to_s( :date ) %> / <a href="<%= courses_url %>#<%=course.id %>"><%= course.subject.to_s.length > 20 ? course.subject.to_s[0, 18] + '...' : course.subject.to_s %>
              —<%= course.session %>
                <% if course.registration_quota - course.enrollments.count==0 %>
                    <!--（已額滿）-->
                <% end %>
            </a></li>
        <% end %>
      </ul>
    </div>
    <!--news-->
     <div id="news" style="margin:0 10px">
      <ul>
        <li>
					<a href="<%= news_updates_url %>?news_id=<%= @newsupdate_01.id if @newsupdate_01 %>">
        		<%= @newsupdate_01.updated_at.to_date if @newsupdate_01 %> /
                <%= @newsupdate_01.title.to_s.length > 20 ? @newsupdate_01.title.to_s[0, 20] + '...' : @newsupdate_01.title.to_s %>
            </a>
        </li>
        <li>
					<a href="<%= news_updates_url %>?news_id=<%= @newsupdate_02.id if @newsupdate_02 %>">
        		<%= @newsupdate_02.updated_at.to_date if @newsupdate_02 %> /
                <%= @newsupdate_02.title.to_s.length > 20 ? @newsupdate_02.title.to_s[0, 20] + '...' : @newsupdate_02.title.to_s %>
            </a>
        </li>
        <li>
					<a href="<%= news_updates_url %>?news_id=<%= @newsupdate_03.id if @newsupdate_03 %>">
        		<%= @newsupdate_03.updated_at.to_date if @newsupdate_03 %> /
                <%= @newsupdate_03.title.to_s.length > 20 ? @newsupdate_03.title.to_s[0, 20] + '...' : @newsupdate_03.title.to_s %>
            </a>
        </li>
      </ul>
    </div>

  </div>
  <div id="main-center">
		<!--product-->
	  <div class="download"><img src="<%= get_current_host_and_port %>application/images/new/spacer.gif" alt="" width="586" height="220" usemap="#Map" border="0"/>
	    <map name="Map" id="Map">
	      <% if @version_logs.length > 0 %>
				 <area shape="rect" coords="32,50,266,199" href="<%= download_latest_xq_url %>" class="dl-act" pdt="DAQ" alt="全球贏家下載" />
				<% end %>
				<% if @version_logs_xqlite.length > 0 %>
	      <area shape="rect" coords="308,49,543,190" href="<%= download_latest_xqlite_url %>" class="dl-act" pdt="DAQXQLITE" alt="操盤高手下載" />
				<% end %>
	    </map>
	  </div>
    <!--product-->
    <div id="fans">
			<div class="fb-page" data-href="https://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342"
				data-width="386" data-height="210" data-hide-cover="true" data-show-facepile="true"
				data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342"><a href="https://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342">XQ全球贏家</a></blockquote></div></div>
    </div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=122124481186450";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
    <!--fans-->
  </div>
  <!--main-center-->
<%= render :partial => "shared/application_footer" %>
