<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/index.css">
<script type="text/javascript" src="<%= get_current_host_and_port %>application/js/jquery-1.7.2.js"></script>
<script>
    $(function () {
        var _showTab = 0;
        var $defaultLi = $('#banner .tabs li').eq(_showTab).addClass('active');
        $($defaultLi.find('a').attr('href')).siblings().hide();

        $('#banner .tabs li').click(function () {
            var $this = $(this),
                    _clickTab = $this.find('a').attr('href');
            $this.addClass('active').siblings('.active').removeClass('active');
            $(_clickTab).stop(false, true).fadeIn().siblings().hide();

            return false;
        }).find('a').focus(function () {
                    this.blur();
                });
    });
</script>
<script>
    $(function () {
        var _showTab = 0;
        var $defaultLi = $('#traits .tabs li').eq(_showTab).addClass('active');
        $($defaultLi.find('a').attr('href')).siblings().hide();

        $('#traits .tabs li').click(function () {
            var $this = $(this),
                    _clickTab = $this.find('a').attr('href');
            $this.addClass('active').siblings('.active').removeClass('active');
            $(_clickTab).stop(false, true).fadeIn().siblings().hide();

            return false;
        }).find('a').focus(function () {
                    this.blur();
                });
    });
</script>
<div id="header">
<h1><img src="<%= get_current_host_and_port %>application/images/logo.png" title="XQ全球贏家"/></h1>
<ul id="nav">
  <li><a href="traits.html">產品特色</a>
    <ul id="nav-child">
      <li><a href="<%= traits_url %>">產品特色</a></li>
      <li><a href="<%= questions_url %>">常見問題</a></li>
      <li><a href="<%= online_demonstrations_url %>">線上體驗</a></li>
      <li><a href="<%= download_dms_url %>">ＤＭ下載</a></li>
      <li><a href="<%= new_experience_url %>">申請實機體驗</a></li>
    </ul>
  </li>
  <li><a href="<%= courses_url %>">實務課程</a></li>
  <li><a href="<%= category_url(Category.first) if !Category.first.nil? %>">實機教學</a></li>
  <li><a href="<%= download_contents_url %>">下載專區</a></li>
  <li><a href="<%= purchasing_url %>">我要購買</a></li>
  <li><a href="#">討論區</a></li>
</ul>
<div id="banner">
<ul class="tabs">
  <li><a href="#tab1">應　用　篇</a></li>
  <li><a href="#tab2">籌　碼　篇</a></li>
  <li><a href="#tab3">選　股　篇</a></li>
  <li><a href="#tab4">技術分析篇</a></li>
</ul>
<!--tabs-->
<div class="content">
  <div id="tab1" class="tab_content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%" align="center"><a href="<%= @banner_01.hyperlink_01 if !@banner_01.nil? %>">
          <div class="tab_text1 text">
            <h4><%= @banner_01.title_01 if !@banner_01.nil? %></h4>

            <p><%= raw @banner_01.content_01.gsub("\n", "<br />").html_safe if !@banner_01.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_01.nil? %>
                <% if @banner_01.excerpt_image_01? %>
                    <img src="<%= @banner_01.excerpt_image_01.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
        <td width="34%" align="center"><a href="<%= @banner_01.hyperlink_02 if !@banner_01.nil? %>">
          <div class="tab_img">
            <% if !@banner_01.nil? %>
                <% if @banner_01.excerpt_image_02? %>
                    <img src="<%= @banner_01.excerpt_image_02.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
          <div class="tab_text2 text">
            <h4><%= @banner_01.title_02 if !@banner_01.nil? %></h4>

            <p><%= raw @banner_01.content_02.gsub("\n", "<br />").html_safe if !@banner_01.nil? %></p>
          </div>
        </a></td>
        <td width="33%" align="center"><a href="<%= @banner_01.hyperlink_03 if !@banner_01.nil? %>">
          <div class="tab_text3 text">
            <h4><%= @banner_01.title_03 if !@banner_01.nil? %></h4>

            <p><%= raw @banner_01.content_03.gsub("\n", "<br />").html_safe if !@banner_01.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_01.nil? %>
                <% if @banner_01.excerpt_image_03? %>
                    <img src="<%= @banner_01.excerpt_image_03.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
      </tr>
    </table>
  </div>
  <!--tab1-->
  <div id="tab2" class="tab_content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%" align="center"><a href="<%= @banner_02.hyperlink_01 if !@banner_02.nil? %>">
          <div class="tab_text1 text">
            <h4><%= @banner_02.title_01 if !@banner_02.nil? %></h4>

            <p><%= raw @banner_02.content_01.gsub("\n", "<br />").html_safe if !@banner_02.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_02.nil? %>
                <% if @banner_02.excerpt_image_01? %>
                    <img src="<%= @banner_02.excerpt_image_01.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
        <td width="34%" align="center"><a href="<%= @banner_02.hyperlink_02 if !@banner_02.nil? %>">
          <div class="tab_img">
            <% if !@banner_02.nil? %>
                <% if @banner_02.excerpt_image_02? %>
                    <img src="<%= @banner_02.excerpt_image_02.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
          <div class="tab_text2 text">
            <h4><%= @banner_02.title_02 if !@banner_02.nil? %></h4>

            <p><%= raw @banner_02.content_02.gsub("\n", "<br />").html_safe if !@banner_02.nil? %></p>
          </div>
        </a></td>
        <td width="33%" align="center"><a href="<%= @banner_02.hyperlink_03 if !@banner_02.nil? %>">
          <div class="tab_text3 text">
            <h4><%= @banner_02.title_03 if !@banner_02.nil? %></h4>

            <p><%= raw @banner_02.content_03.gsub("\n", "<br />").html_safe if !@banner_02.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_02.nil? %>
                <% if @banner_02.excerpt_image_03? %>
                    <img src="<%= @banner_02.excerpt_image_03.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
      </tr>
    </table>
  </div>
  <!--tab2-->
  <div id="tab3" class="tab_content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%" align="center"><a href="<%= @banner_03.hyperlink_01 if !@banner_03.nil? %>">
          <div class="tab_text1 text">
            <h4><%= @banner_03.title_01 if !@banner_03.nil? %></h4>

            <p><%= raw @banner_03.content_01.gsub("\n", "<br />").html_safe if !@banner_03.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_03.nil? %>
                <% if @banner_03.excerpt_image_01? %>
                    <img src="<%= @banner_03.excerpt_image_01.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
        <td width="34%" align="center"><a href="<%= @banner_03.hyperlink_02 if !@banner_03.nil? %>">
          <div class="tab_img">
            <% if !@banner_03.nil? %>
                <% if @banner_03.excerpt_image_02? %>
                    <img src="<%= @banner_03.excerpt_image_02.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
          <div class="tab_text2 text">
            <h4><%= @banner_03.title_02 if !@banner_03.nil? %></h4>

            <p><%= raw @banner_03.content_02.gsub("\n", "<br />").html_safe if !@banner_03.nil? %></p>
          </div>
        </a></td>
        <td width="33%" align="center"><a href="<%= @banner_03.hyperlink_03 if !@banner_03.nil? %>">
          <div class="tab_text3 text">
            <h4><%= @banner_03.title_03 if !@banner_03.nil? %></h4>

            <p><%= raw @banner_03.content_03.gsub("\n", "<br />").html_safe if !@banner_03.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_03.nil? %>
                <% if @banner_03.excerpt_image_03? %>
                    <img src="<%= @banner_03.excerpt_image_03.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
      </tr>
    </table>
  </div>
  <!--tab3-->
  <div id="tab4" class="tab_content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%" align="center"><a href="<%= @banner_04.hyperlink_01 if !@banner_04.nil? %>">
          <div class="tab_text1 text">
            <h4><%= @banner_04.title_01 if !@banner_04.nil? %></h4>

            <p><%= raw @banner_04.content_01.gsub("\n", "<br />").html_safe if !@banner_04.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_04.nil? %>
                <% if @banner_04.excerpt_image_01? %>
                    <img src="<%= @banner_04.excerpt_image_01.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
        <td width="34%" align="center"><a href="<%= @banner_04.hyperlink_02 if !@banner_04.nil? %>">
          <div class="tab_img">
            <% if !@banner_04.nil? %>
                <% if @banner_04.excerpt_image_02? %>
                    <img src="<%= @banner_04.excerpt_image_02.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
          <div class="tab_text2 text">
            <h4><%= @banner_04.title_02 if !@banner_04.nil? %></h4>

            <p><%= raw @banner_04.content_02.gsub("\n", "<br />").html_safe if !@banner_04.nil? %></p>
          </div>
        </a></td>
        <td width="33%" align="center"><a href="<%= @banner_04.hyperlink_03 if !@banner_04.nil? %>">
          <div class="tab_text3 text">
            <h4><%= @banner_04.title_03 if !@banner_04.nil? %></h4>

            <p><%= raw @banner_04.content_03.gsub("\n", "<br />").html_safe if !@banner_04.nil? %></p>
          </div>
          <div class="tab_img">
            <% if !@banner_04.nil? %>
                <% if @banner_04.excerpt_image_03? %>
                    <img src="<%= @banner_04.excerpt_image_03.url(:medium) %>" width="247" height="154"/>
                <% end %>
            <% end %>
          </div>
        </a></td>
      </tr>
    </table>
  </div>
  <!--tab4-->
</div>
<!--content-->
</div>
<!--banner-->
</div>
<!--header-->
<div id="main">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:20px 0">
    <tr>
      <td width="18%" align="left" valign="top">
        <a href="<%= new_experience_url %>"><img src="<%= get_current_host_and_port %>application/images/index-01.png" width="178" height="138"/></a>
      </td>
      <td width="40%" align="left" valign="top">
        <div id="news">
          <ul>
            <a href="<%= news_updates_url %>?news_id=<%= @newsupdate_01.id if !@newsupdate_01.nil? %>">
              <li><%= @newsupdate_01.updated_at.to_date if !@newsupdate_01.nil? %> /
                <%= @newsupdate_01.title if !@newsupdate_01.nil? %>
              </li>
            </a>
            <a href="<%= news_updates_url %>?news_id=<%= @newsupdate_02.id if !@newsupdate_02.nil? %>">
              <li><%= @newsupdate_02.updated_at.to_date if !@newsupdate_02.nil? %> /
                <%= @newsupdate_02.title if !@newsupdate_02.nil? %>
              </li>
            </a>
            <a href="<%= news_updates_url %>?news_id=<%= @newsupdate_03.id if !@newsupdate_03.nil? %>">
              <li><%= @newsupdate_03.updated_at.to_date if !@newsupdate_03.nil? %> /
                <%= @newsupdate_03.title if !@newsupdate_03.nil? %>
              </li>
            </a>
          </ul>
        </div>

        <!--news--></td>
      <td width="42%" align="left" valign="top">
        <div id="course">
          <ul>
            <a href="<%= courses_url %>?#<%= @display_courses[0].id %>">
              <li><%= @display_courses[0].subject if !@display_courses[0].nil? %>
                —<%= @display_courses[0].session if !@display_courses[0].nil? %>
                /<%= @display_courses[0].start_time if !@display_courses[0].nil? %>
                <% if !@display_courses[0].nil? %>
                    <% if @display_courses[0].registration_quota - @display_courses[0].enrollments.count==0 %>
                        （已額滿）
                    <% end %>
                <% end %>
              </li>
            </a>
            <a href="<%= courses_url %>?#<%= @display_courses[1].id %>">
              <li><%= @display_courses[1].subject if !@display_courses[1].nil? %>
                —<%= @display_courses[1].session if !@display_courses[1].nil? %>
                /<%= @display_courses[1].start_time if !@display_courses[1].nil? %>
                <% if !@display_courses[1].nil? %>
                    <% if @display_courses[1].registration_quota - @display_courses[1].enrollments.count==0 %>
                        （已額滿）
                    <% end %>
                <% end %>
              </li>
            </a>
            <a href="<%= courses_url %>?#<%= @display_courses[2].id %>">
              <li><%= @display_courses[2].subject if !@display_courses[2].nil? %>
                —<%= @display_courses[2].session if !@display_courses[2].nil? %>
                /<%= @display_courses[2].start_time if !@display_courses[2].nil? %>
                <% if !@display_courses[2].nil? %>
                    <% if @display_courses[2].registration_quota - @display_courses[2].enrollments.count==0 %>
                        （已額滿）
                    <% end %>
                <% end %>
              </li>
            </a>
          </ul>
        </div>

        <!--course--></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="72%" rowspan="2" align="left" valign="top">
        <div id="traits">
          <ul class="tabs">
            <li><a href="#tab5">全球財經資訊的專家</a></li>
            <li>／</li>
            <li><a href="#tab6">個人化介面完美演出</a></li>
            <li>／</li>
            <li><a href="#tab7">強大的資料分析中心</a></li>
          </ul>
          <div class="content">
            <div id="tab5" class="tab_content">
              <h3>全球財經資訊的專家</h3>
              <ul>
                <li>一、 中港台三地股市同步揭示，兩岸經濟清楚鋪陳</li>
                <li>二、 67 種細產業指數，充分掌握類股輪動韻律</li>
                <li>三、 394 個細產業，中、港、台同產業個股同台比競爭力、比行情</li>
                <li>四、 日、韓股市一併掌握，亞洲重要情勢全在彈指之間</li>
                <li>五、 歐、美等重要市場股票報價不遺露，全球景氣波動不缺席</li>
                <li>六、 全球重要商品行情全到位，拉高視野才能出奇致勝</li>
                <li>七、 財經消息即時掌握，歷史新聞全方位搜尋</li>
                <li>八、 美、中、台、英、德、法經濟指標追蹤公佈，景氣趨勢全面鎖定</li>
                <li>九、 圖解產業結構，相關互動一目瞭然</li>
                <li>十、 透視營運結構，掌握獲利風向球</li>
              </ul>
            </div>
            <div id="tab6" class="tab_content">
              <h3>個人化介面完美演出</h3>
              <ul>
                <li>一、 各種金融商品呈現於同一報價組合，聰明掌握世界脈動</li>
                <li>二、 自設看盤畫面，節省更多寶貴時間與心力</li>
                <li>三、 報價欄位隨您訂，排序輪播任您設</li>
                <li>四、 我的最愛以及書籤列隨時加，快捷頁碼直接引用</li>
                <li>五、警示設定靈活設，警示紀錄急通報</li>
                <li>六、 史上功能最強個人化系統</li>
              </ul>
            </div>
            <div id="tab7" class="tab_content">
              <h3>強大的資料分析中心</h3>
              <ul>
                <li>一、 參考商品完整呈現，股價連動不遺漏</li>
                <li>二、 針對資深投資人量身打造 XQ全球贏家獨家指標</li>
                <li>三、 個股分析圖表並重，基本面籌碼面財務面, 面面俱到</li>
                <li>四、 豐富的技術分析功能</li>
                <li>五、全部商品歷史價位都可相互比較，知歷史可以探未來</li>
                <li>六、 多樣化分析選項，讓您選股得心應手不遺漏</li>
                <li>七、 相關商品一覽無遺，套利，價差操作兩相宜</li>
                <li>八、 台股精選報價，特別報價，,強力選股雷達</li>
                <li>九、 高手秘技齊分享，投資典範永相隨</li>
              </ul>
            </div>
          </div>
          <!--content-->
        </div>

        <!--traits--></td>
      <td width="28%" height="217" align="left" valign="top">
        <div id="forums">
          <ul>
            <li><a href="#" target="_blank">美國牛對股市的影響</a></li>
            <li><a href="#" target="_blank">雪隧車禍造成投資人恐慌，真的嗎？</a></li>
            <li><a href="#" target="_blank">蘑菇產量大增，我該買哪一支股票？</a></li>
            <li><a href="#">15號New iPad台灣開賣，鴻海還有空間嗎？</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <div id="fans"></div>

        <!--forums--></td>
    </tr>
  </table>
  <div id="announcement">
    <h3>【系統公告】</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%"><a href="<%= announcement_url %>?announcement_id=0#0"><%= @record_00[0][0..-6] %></a></td>
        <td width="40%"><a href="<%= announcement_url %>?announcement_id=0#0"><%= @record_00[2] %></a></td>
        <td width="10%"><a href="<%= announcement_url %>?announcement_id=1#1"><%= @record_01[0][0..-6] %></a></td>
        <td width="40%"><a href="<%= announcement_url %>?announcement_id=1#1"><%= @record_01[2] %></a></td>
      </tr>
      <tr>
        <td><a href="<%= announcement_url %>?announcement_id=2#2"><%= @record_02[0][0..-6] %></a></td>
        <td><a href="<%= announcement_url %>?announcement_id=2#2"><%= @record_02[2] %></a></td>
        <td><a href="<%= announcement_url %>?announcement_id=3#3"><%= @record_03[0][0..-6] %></a></td>
        <td><a href="<%= announcement_url %>?announcement_id=3#3"><%= @record_03[2] %></a></td>
      </tr>
    </table>
  </div>
  <!--announcement-->
</div>
<!--main-->
<%= render :partial => "shared/application_footer" %>
<!--link-->
<!--link-->