<% @css_path = get_current_host_and_port + "application/css/purchasing.css" %>
<%= render :partial => "shared/application_top" %>


<div id="container">
  <div id="main">
    <div id="banner">
      <h2>我要購買</h2>
    </div>
    <!--banner-->
    <div id="content">
      <div id="note"><img src="<%= get_current_host_and_port %>application/images/pur-01.png"></div>
      <div id="plan-a" class="plan">
        <h3>台、港、中、美、日、韓 即時+XS策略雷達</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title"><img src="<%= get_current_host_and_port %>application/images/pch-05.jpg" width="116" height="24" /></td>
          </tr>
          <tr>
            <td width="500" class="text"><p>即時：台、港、中個股、期貨、選擇權、摩台指、國際指數、</p>
              <p>　　　貴金屬、匯率<br />
                盤後：台、港、中個股（包含技術分析、基本分析、財務分析、<br />
                　　　個股新聞、所屬產業…）<br />
                <br />
                策略雷達：自訂指標，進階警示，警示清單，即時訊號監看等<br />
                　　　　　多種客製化強大看盤功能。 <br />
                <span>限期行銷活動請洽詢本公司業務單位</span> </p></td>
            <td width="402" align="left" valign="top" class="button"><a href="http://www.moneydj.com/e/newage/buyproduct0912_XQXS_SIX3Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-02b.jpg" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQXS_SIX6Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-03b.jpg" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQXS_SIX1Ypay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-04b.jpg" /></a></td>
          </tr>
        </table>
      </div>
      <div id="plan-b" class="plan">
        <h3>台、港、中、美、日、韓 即時+盤後</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title"><img src="<%= get_current_host_and_port %>application/images/pch-05.jpg" width="116" height="24" /></td>
          </tr>
          <tr>
            <td width="500" class="text"><p>即時：台、港、中個股、期貨、選擇權、摩台指、國際指數、<br />
              　　　貴金屬、匯率（美日韓個股為延遲報價）<br />
                盤後：台、港、中、美、日、韓個股（包含技術分析、基本分<br />
                　　　析、財務分析、個股新聞、所屬產業…）</p></td>
            <td width="402" align="left" valign="top" class="button"><a href="http://www.moneydj.com/e/newage/buyproduct0912_XQSIX3Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-02.jpg" width="123" height="89" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQSIX6Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-03.jpg" width="123" height="89" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQSIX1Ypay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-04.jpg" width="123" height="89" /></a></td>
          </tr>
        </table>
      </div>
      <div id="plan-c" class="plan">
        <h3>台、港、中 即時+盤後</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title"><img src="<%= get_current_host_and_port %>application/images/pch-05.jpg" width="116" height="24" /></td>
          </tr>
          <tr>
            <td width="500" class="text"><p>即時：台、港、中個股、期貨、選擇權、摩台指、國際指數、<br />
              　　　貴金屬、匯率<br />
                盤後：台、港、中個股（包含技術分析、基本分析、財務分析、<br />
                　　　個股新聞、所屬產業…）</p></td>
            <td width="402" align="left" valign="top" class="button"><a href="http://www.moneydj.com/e/newage/buyproduct0912_XQTCH3Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-02a.jpg" width="123" height="89" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQTCH6Mpay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-03a.jpg" width="123" height="89" /></a> <a href="http://www.moneydj.com/e/newage/buyproduct0912_XQTCH1Ypay.html" target="_blank"><img src="<%= get_current_host_and_port %>application/images/pur-04a.jpg" width="123" height="89" /></a></td>
          </tr>
        </table>
      </div>
      <div id="rent">
      <h3>繳費一年期滿歸客戶所有</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  		<tr>
    		<td>LCD monitor （17吋） x2 + 腳架 + 2Port VGA Card</td>
    		<td align="right"><span>新台幣3,000元/月</span></td>
  		</tr>
	  </table>
      <div id="price">硬體直接購買價：<span>新台幣30,000元</span></div>
      </div>
      <div id="tip">若想進一步了解每項產品的差異，歡迎來電洽詢：0800-006-098 或請洽嘉實經銷商！</div>
    </div>
    <!--content--> 
  </div>
  <!--main-->
  
  
<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->