<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<style>
    #banner {background-image: url(<%= get_current_host_and_port %>application/images/banner-pch.jpg)}
    #content {overflow: hidden;font-size: 16px}
    #content .left {width: 67%}
    #content .right {width: 33%;text-align: right;padding:40px 0 0 0}
    #content .right img:hover {opacity: .8;filter: alpha(opacity=80)}
    .box {border: 1px solid #EAEAEA;border-radius: 5px;padding: 40px 0 20px 10px;position: relative;}
    .box img {position: absolute;top: -2px;left: 15px}
    #content span {color: #900000}
    #content table{margin-bottom:60px}
    #content p{color:#5e5e5e;font-size:14px}
</style>
<%= render :partial => "shared/application_top" %><!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>我要購買</h2>
    </div>
    <!--banner-->
    <div id="content">
      <div class="left">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="middle" style="padding:0 0 0 190px;background:url(<%= get_current_host_and_port %>application/images/pch-03.jpg) top left no-repeat" height="42">台、港、中 即時+盤後</td>
          </tr>
          <tr>
            <td><div class="box"><img src="<%= get_current_host_and_port %>application/images/pch-05.jpg" width="116" height="24" /> 即時：台、港、中個股、期貨、選擇權、摩台指、國際指數、貴金屬、匯率<br>
              盤後：台、港、中個股（包含技術分析、基本分析、財務分析、個股新聞、<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;屬產業…） </div></td>
          </tr>
          <tr>
            <td align="right" height="37" style="font-size:14px">資訊服務費／月繳 <span style="font-size:19px"> 新台幣 $8,000元</span></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="middle" style="padding:0 0 0 190px;background:url(<%= get_current_host_and_port %>application/images/pch-04.jpg) top left no-repeat" height="46">台、港、中、美、日、韓 即時+盤後</td>
          </tr>
          <tr>
            <td><div class="box"><img src="<%= get_current_host_and_port %>application/images/pch-05.jpg" width="116" height="24" /> 即時：台、港、中個股、期貨、選擇權、摩台指、國際指數、貴金屬、匯率<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（美日韓個股為延遲報價） <br>
              盤後：台、港、中、美、日、韓個股（包含技術分析、基本分析、財務分析、<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;個股新聞、所屬產業…）</div></td>
          </tr>
          <tr>
            <td align="right" height="37" style="font-size:14px">資訊服務費／月繳 <span style="font-size:19px"> 新台幣$10,000元</span><span>（港幣$4,000元）</span></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="middle" style="padding:0 0 0 160px;background:url(<%= get_current_host_and_port %>application/images/pch-06.jpg) center left no-repeat" height="46">繳費一年期滿歸客戶所有</td>
          </tr>
          <tr>
            <td><div class="box" style="padding:15px 10px"> LCD monitor （17吋） x2 + 腳架 + 2Port VGA Card</div></td>
          </tr>
          <tr>
            <td align="right" height="67" style="font-size:14px"><span style="font-size:19px">新台幣3,000元/月</span><br>
              硬體直接購買價：<span>新台幣30,000元</span></td>
          </tr>
        </table>
        <p>若想進一步了解每項產品的差異，歡迎來電洽詢：0800-006-098 或請洽嘉實經銷商！</p>
      </div>
      <div class="right"> <a href="<%= get_current_host_and_port %>/purchasing/XQ訂購單.doc"><img src="<%= get_current_host_and_port %>application/images/pch-01.jpg" width="258" height="89" /></a> <a href="<%= get_current_host_and_port %>/purchasing/XQ信用卡扣款同意書.doc"><img src="<%= get_current_host_and_port %>application/images/pch-02.jpg" width="258" height="100" /></a> </div>
    </div>
    <!--content-->
  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
</div>
<!--container-->