<% @css_path = get_current_host_and_port + "application/css/radar-intro.css" %>
<%= render :partial => "shared/application_top" %>

<div id="container">
  <div id="main">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" valign="top" class="number">1</td>
          <td width="63%" align="left" valign="top">
              <h3>49種技術指標供您自訂指標圖形，彈性、獲利大無限</h3>
              <h4>More Customized Technical Indicators Bring you more Profitable Opportunities.</h4>
            
            <p>
            49種技術指標包括國內外先進指標，自訂、開發新式領先指標，可持續設計出您的貼身工具。
            </p></td>
          <td width="31%" align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-01b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-01.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">2</td>
          <td align="left" valign="top"><h3>指標繪圖您決定，隨時掌握買賣時機點</h3>
            <h4>Plot everything you can imagine. You will never miss a Chance from Charts.</h4>
            <p> 豐富的即時與歷史資料欄位，配合自訂指標即時繪圖，快速掌握股價反應，奪取買賣天機。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-02b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-02.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">3</td>
          <td align="left" valign="top"><h3>進階警示快速掃描、監控標的股，它的一舉一動您同步知曉</h3>
            <h4>Fastest Market Scanner and Portfolio Monitor Make you Always One Step ahead of the Market</h4>
            <p> 獨家支援大量股票監控，橫向縱向都可檢視族群動能，利於第一時間快速掃描股票即時狀況，做出果決判斷。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-03b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-03.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">4</td>
          <td align="left" valign="top"><h3>將您抽象的交易判斷邏輯具體化為實用的工具，重複運用得心應手</h3>
            <h4>Converting Concepts to Programming Languages. It’s Easy and Reusable</h4>
          <p> 利用簡單的數學邏輯將投資想法兌現，直接顯示符合條件的標的清單，不須層層轉換。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-04b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-04.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">5</td>
          <td align="left" valign="top"><h3>多種觸發模式選擇，針對不同標的與需求一一滿足</h3>
            <h4>More Trigger modes are available for more Trading Demands</h4>
            <p> 多種觸發模式配合各種頻率，讓您操作長短線皆宜，如魚得水。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-05b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-05.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">6</td>
          <td align="left" valign="top"><h3>單次觸發模式活用於任何時刻，挑選標的股簡潔有力</h3>
            <h4>Powerful Stock picking by One-Time Scanning Mode</h4>
            <p> 單次觸發模式精準使用於任何時刻，於盤中判斷商品價格所處型態，於盤後挑選進場標的股，即時篩選、擊中要害。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-06b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-06.jpg"/></a></td>
        </tr>
        <tr>
          <td colspan="3" valign="top" class="spr">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="number">7</td>
          <td align="left" valign="top"><h3>聲音警示功能幫您盯盤，不需用眼，股市動態盡在股掌之間</h3>
            <h4>Not only Keeping an Eye on the Market, but also hearing it</h4>
            <p> 聲音警示於觸發時立即跳出訊號並以音效提醒，您不需再緊盯螢幕久久守候，只待音效提醒再執行動作即可。</p></td>
          <td align="right"><a href="<%= get_current_host_and_port %>application/images/lb-rd-07b.jpg" class="lightbox"><img src="<%= get_current_host_and_port %>application/images/lb-rd-07.jpg"/></a></td>
        </tr>
      </table>
    </div>
    <!--content--> 
  </div>
  <!--main-->
  
<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->