<%= render :partial => "shared/application_top" %>

<div id="container">
  <div id="main">
    <div id="content">
      <h3>分類：台股趨勢</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="23%" align="left" valign="middle">發表日期</th>
          <th width="77%" align="left" valign="middle">文章標題</th>
        </tr>
        <tr>
          <td align="left" valign="middle">2013/04/15</td>
          <td align="left" valign="middle"><a href="#">各品牌智慧機差異小，今年得靠行銷</a></td>
        </tr>
        <tr>
          <td align="left" valign="middle">2013/04/15</td>
          <td align="left" valign="middle"><a href="#">各品牌智慧機差異小，今年得靠行銷</a></td>
        </tr>
        <tr>
          <td align="left" valign="middle">2013/04/15</td>
          <td align="left" valign="middle"><a href="#">各品牌智慧機差異小，今年得靠行銷</a></td>
        </tr>
        <tr>
          <td align="left" valign="middle">2013/04/15</td>
          <td align="left" valign="middle"><a href="#">各品牌智慧機差異小，今年得靠行銷</a></td>
        </tr>
      </table>
      <div id="pages">
        <ul>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
    <!--content-->
    <div id="aside">
      <div id="category">
        <h4>【文章分類】</h4>
        <ul>
          <li><a href="#">台股趨勢 (60)</a></li>
          <li><a href="#">程式交易 (45)</a></li>
          <li><a href="#">策略應用 (30)</a></li>
          <li><a href="#">新興市場 (19)</a></li>
        </ul>
      </div>
      <!--category-->
      <div id="publish">
        <h4>【文章張貼】</h4>
        <ol>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p2.gif">2013 (43)</a>
            <ol>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p2.gif">四月 (8)</a>
                <ol>
                  <li><a href="#">【勞退基金台股 600億活水來了】美國本周重要經濟數據預覽</a></li>
                  <li><a href="#">【2013年報稅注意- 6大新措施】申報放寬扶養 小額退稅 特別扣除額</a></li>
                  <li><a href="#">小媽精選1020413-0415基金資訊</a></li>
                  <li><a href="#">春電展周三登場 3C大廠優惠齊殺</a></li>
                  <li><a href="#">風蕭蕭兮~~台股8000不復還</a></li>
                  <li><a href="#">行庫限貸可壓桃園炒風嗎？中古屋交易是關鍵</a></li>
                  <li><a href="#">04.12 季線月線反壓在上。/歐斯麥</a></li>
                  <li><a href="#">投資行事曆 / Mr.X艾克斯</a></li>
                </ol>
                <a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">三月 (10)</a></li>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">二月 (12)</a></li>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">一月 (13)</a></li>
            </ol>
          </li>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">2012 (25)</a></li>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">2011 (30)</a></li>
        </ol>
      </div>
      <!--publish--> 
    </div>
    <!--aside--> 
  </div>
  <!--main-->
  
  <div id="footer"> <span>嘉實資訊股份有限公司©2012 XQ.com.tw / All Right Reserved.</span> <span style="margin:0 100px">客戶免付費電話：0800-006-098</span> <span>客服信箱：<a href="mailto:XQservice@XQ.com.tw" target="_blank">XQservice@XQ.com.tw</a> </span> </div>
  <!--footer-->
  <div id="link">
    <div class="link-box">
      <h5 class="link-title">產品特色</h5>
      <ul class="link-text">
        <li><a href="#">三大特色</a></li>
        <li><a href="#">線上體驗產品</a></li>
        <li><a href="#">申請試用</a></li>
        <li><a href="#">DM下載</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">策略雷達</h5>
      <ul class="link-text">
        <li><a href="#">功能介紹</a></li>
        <li><a href="#">影片教學</a></li>
        <li><a href="#">討論區</a></li>
        <li><a href="#">常見問題</a></li>
        <li><a href="#">函數搜尋</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">交易區</h5>
      <ul class="link-text">
        <li><a href="xqtrade">交易功能</a></li>
        <li><a href="xqtrade_partner">合作夥伴</a></li>
        <li><a href="xqtrade_ca">憑證中心</a></li>
        <li><a href="xqtrade_faq">常見問題</a></li>
        <li><a href="xqtrade_manual">使用手冊</a></li>
        <li><a href="xqtrade_service">客服窗口</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">實務課程</h5>
      <ul class="link-text">
        <li><a href="#">講座課程</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">實機教學</h5>
      <ul class="link-text">
        <li><a href="#">全新策略教戰</a></li>
        <li><a href="#">獨家操作教戰</a></li>
        <li><a href="#">獨家資訊教戰</a></li>
        <li><a href="#">獨家分析教戰</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">下載區</h5>
      <ul class="link-text">
        <li><a href="#">XQ主程式</a></li>
        <li><a href="#">XQ+XS策略雷達主程式</a></li>
        <li><a href="#">XQ使用手冊</a></li>
        <li><a href="#">XS策略雷達使用手冊</a></li>
        <li><a href="#">XQ自設畫面檔案</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">專家分享</h5>
      <ul class="link-text">
        <li><a href="#">專家分享</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">我要購買</h5>
      <ul class="link-text">
        <li><a href="#">方案及軟體</a></li>
      </ul>
    </div>
    <!--link-box-->
    <div class="link-box">
      <h5 class="link-title">粉絲團</h5>
      <ul class="link-text">
        <li><a href="#">粉絲團</a></li>
      </ul>
    </div>
    <!--link-box--> 
  </div>
  <!--link--> 
</div>
<!--container-->
</body>
</html>
