<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/share-main.css">
<%= render :partial => "shared/application_top" %>
<div id="container">
  <div id="main">
    <div id="content">
      <div class="article">
      	<div class="template-container" style="display: none;">	      	
	        <div class="article-title"> <span><a href="{SHARE_CATEGORY_LINK}">{SHARE_CATEGORY}</a>｜{SHARE_TIME}</span>
				<h3>{SHARE_TITLE}</h3>
				<div class="social"> 
					<a href="#"><img src="<%= get_current_host_and_port %>application/images/fb.gif"/></a>
					<a href="#"><img  src="<%= get_current_host_and_port %>application/images/gplus.gif"/></a>
				</div><!-- social -->
			</div>
      	</div>
      </div>
    </div>
    <!--content-->
    <div id="aside">
      <div id="category">
        <h4>【文章分類】</h4>
        <ul>
          <li><a href="#">台股趨勢 (60)</a></li>
          <li><a href="#">程式交易 (45)</a></li>
          <li><a href="#">策略應用 (30)</a></li>
          <li><a href="#">新興市場 (19)</a></li>
        </ul>
      </div>
      <!--category-->
      <div id="publish">
        <h4>【文章張貼】</h4>
        <ol>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p2.gif">2013 (43)</a>
            <ol>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p2.gif">四月 (8)</a>
                <ol>
                  <li><a href="#">【勞退基金台股 600億活水來了】美國本周重要經濟數據預覽</a></li>
                  <li><a href="#">【2013年報稅注意- 6大新措施】申報放寬扶養 小額退稅 特別扣除額</a></li>
                  <li><a href="#">小媽精選1020413-0415基金資訊</a></li>
                  <li><a href="#">春電展周三登場 3C大廠優惠齊殺</a></li>
                  <li><a href="#">風蕭蕭兮~~台股8000不復還</a></li>
                  <li><a href="#">行庫限貸可壓桃園炒風嗎？中古屋交易是關鍵</a></li>
                  <li><a href="#">04.12 季線月線反壓在上。/歐斯麥</a></li>
                  <li><a href="#">投資行事曆 / Mr.X艾克斯</a></li>
                </ol>
                <a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">三月 (10)</a></li>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">二月 (12)</a></li>
              <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">一月 (13)</a></li>
            </ol>
          </li>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">2012 (25)</a></li>
          <li><a href="#"><img src="<%= get_current_host_and_port %>application/images/share-p1.gif">2011 (30)</a></li>
        </ol>
      </div>
      <!--publish--> 
    </div>
    <!--aside--> 
  </div>
  <!--main-->
  
 <script type="text/javascript">
 // 好吧開工

function assign_vars( template, data_ary ) {	

	var replace_ary = [];

	// 取代標的
	for( var i in data_ary ) {
		var article = template;
		var set = data_ary[i];
		
		for( var col in set ) {
			article = article.replace('{' + col + '}', set[col])
		}
		
		replace_ary.push(article);
		
	}		
	
	return replace_ary;
}


$.ajax(
{ 
	url: "<%= cross_reader_path + '.json' %>", 
	dataType: 'json',
	success: function(data) {
	
		// 這裡放樣板初始化
		var template = $('.template-container').html().trim();
		/*
		abstract: "次貸風暴還沒結束，持盈保泰度難關，不要幻想自己可以買在最低點~"
author: "小小"
classname: "日本市場"
classno: "1"
date: "2008/01/25 10:07"
id: "09a03094-02b4-4eb1-8982-000000000558"
title: "暴跌暴漲之後"
url: "http://jv-testweb/KMDJ/Blog/BlogArticleViewer.aspx?a=09a03094-02b4-4eb1-8982-000000000558"
*/
		var data_ary = [];


		for( var i in data ) {
			var set = data[i];
			
			// 設定資料
			var assign_ary = {
				'SHARE_TITLE'								: set.abstract,
				'SHARE_CATEGORY'					: set.classname,
				'SHARE_OUTTER_LINK'				: set.url,
				'SHARE_TIME'								: set.date,
			}
			
			data_ary.push( assign_ary );
		}
		
		
		var obj_ary = assign_vars( template, data_ary );		
		
		for( var i in obj_ary ) {
			var article = obj_ary[i];			
			$(article).appendTo('.article');
		}		
	
	}
});

 
 
 </script>
  
  <%= render :partial => "shared/application_footer" %>