<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<style>
    #banner{background-image:url(<%= get_current_host_and_port %>application/images/xqtrade_partner.jpg)}
    #content{font-size:24px;padding:75px 0}
    #content span{font-size:14px}
    h4{font-size:24px;color:#a72c07;padding:0 0 10px 0;border-bottom:1px dashed #D3D3D3}
    h5{font-size:19px;color:#a72c07}
    #content a:hover img{opacity:.8;filter:alpha(opacity=80)}
    #content p{font-size:13px}
    #content p a{font-size:13px;color:#363636}
    #content table tr td.col2 { text-align:right;vertical-align:top;  }
    #content h4 { margin-top: 32px; }
</style>
<%= render :partial => "shared/application_top" %><!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>合作夥伴</h2>
    </div>
    <!--banner-->
    <div id="content">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td class="col1" width="50%"><a href="http://www.esunsec.com.tw/index.asp" target="_blank">
          <img src="https://ap2.esunsec.com.tw/11Q3web/img/left.jpg" /></a></td>
          <td class="col2" width="50%"><a href="http://www.tcsc.com.tw/z/z00.htm" target="_blank">
          <img width="409" src="http://www.tcsc.com.tw/z/Main_Image/Type_Red/Logo.gif" /></a></td>
        </tr>
        <tr>
          <td class="col1" width="50%"><a href="https://www.capital.com.tw/" target="_blank">
          <img src="https://www.capital.com.tw/images_v2011/logo.png" /></a></td>
          <td class="col2" width="50%"><a href="http://www.ftsi.com.tw/" target="_blank">
          <img width="409" src="http://www.ftsi.com.tw/0_COMMON/images/logo.gif" /></a></td>
        </tr>
      </table>
        <h4 id="setup">客戶服務</h4>
        <table width="60%" border="0" align="center" cellpadding="" cellspacing="25">
          <tr>
            <td width="50%"><font size=4>嘉實XQ全球贏家客服專線 </font></td>
            <td><font size=4 style="color:red">0800-094-168</font></td>
          </tr>
          <tr>  
            <td width="50%"><font size=4>玉山VIP客服專線</font></td>
            <td><font size=4 style="color:red">02-5580-5013</font></td>
          </tr>
          <tr>  
            <td width="50%"><font size=4>第一金證券客服專線</font></td>
            <td><font size=4 style="color:red">0800-538-080</font></td>
          </tr>
          <tr>  
            <td width="50%"><font size=4>大眾證券客服專線</font></td>
            <td><font size=4 style="color:red">0800-058-588</font></td>
          </tr>
          <tr>  
            <td width="50%"><font size=4>群益證券客服專線</font></td>
            <td><font size=4 style="color:red">02-412-8878</font></td>
          </tr>
        </table>
        <p>如有任何使用上的問題，可email至客服信箱：<a href="mailto:XQservice@XQ.com.tw" target="_blank">XQservice@XQ.com.tw</a>  
          我們也將在最短時間內回覆給您，謝謝。</p>

    </div>
    <!--content-->

  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
  <!--link-->
</div>
<!--container-->