<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div id="main" class="right">
    <h2><img src="<%=get_current_host_and_port%>images/signin.png" width="16" height="16" /> 修改個人資料</h2>
    <div class="main-form">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left">帳號<br>
    <%= f.email_field :email %></td>
  </tr>
  <tr>
    <td align="left">姓名<br>
    <%= f.text_field :name %></td>
  </tr>
    <tr>
    <td align="left"><span>- - - - - - - - - - - - 如不修改密碼則無需填下欄- - - - - - - - - - - -</span></td>
  </tr>
  <tr>
    <td align="left">新密碼<br>
    <%= f.password_field :password, :autocomplete => "off" %></td>
  </tr>
  <tr>
    <td align="left">確認新密碼<br>
    <%= f.password_field :password_confirmation, :autocomplete => "off" %></td>
  </tr>
</table>
    </div>
    <!--main-form-->
    <div class="button"><%= f.submit "" %><img src="<%=get_current_host_and_port%>images/save.png"><a>儲存</a></div>
    <div class="button"><a href="<%=admin_news_updates_path%>"><img src="<%=get_current_host_and_port%>images/cancel.png">取消</a></div>
  </div>
  <!--main-->
  <% end %>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->