<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
  <div id="main" class="right">
    <%= render :partial => "category" %>
    <%= form_for([:admin, @banner], :html => {:multipart => true}, :validate => true) do |f| %>
        <div class="main-banner">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="41%" rowspan="4" align="left" valign="top" class="upload-img">
                <% if @banner.excerpt_image_01? %>
                    <%= image_tag(@banner.excerpt_image_01.url(:medium)) %>
                <% end %>
              </td>
              <th width="2%" align="left" valign="top">&nbsp;</th>
              <th width="6%" align="left" valign="top">標題</th>
              <td width="51%" height="20" align="left" valign="top"><%= f.text_field :title_01 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">內文</th>
              <td height="20" align="left" valign="top"><%= f.text_area :content_01, :cols => "", :rows => "", :class => "autogrow" %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">連結</th>
              <td align="left" valign="top"><%= f.text_field :hyperlink_01 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">上傳</th>
              <td align="left" valign="top"><%= f.file_field :excerpt_image_01 %></td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:20px 0;padding:20px 0;border-top:1px dashed #ddd;border-bottom:1px dashed #ddd">
            <tr>
              <td width="41%" rowspan="4" align="left" valign="top" class="upload-img">
                <% if @banner.excerpt_image_02? %>
                    <%= image_tag(@banner.excerpt_image_02.url(:medium)) %>
                <% end %>
              </td>
              <th width="2%" align="left" valign="top">&nbsp;</th>
              <th width="6%" align="left" valign="top">標題</th>
              <td width="51%" height="20" align="left" valign="top"><%= f.text_field :title_02 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">內文</th>
              <td height="20" align="left" valign="top"><%= f.text_area :content_02, :cols => "", :rows => "", :class => "autogrow" %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">連結</th>
              <td align="left" valign="top"><%= f.text_field :hyperlink_02 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">上傳</th>
              <td align="left" valign="top"><%= f.file_field :excerpt_image_02 %></td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="41%" rowspan="4" align="left" valign="top" class="upload-img">
                <% if @banner.excerpt_image_03? %>
                    <%= image_tag(@banner.excerpt_image_03.url(:medium)) %>
                <% end %>
              </td>
              <th width="2%" align="left" valign="top">&nbsp;</th>
              <th width="6%" align="left" valign="top">標題</th>
              <td width="51%" height="20" align="left" valign="top"><%= f.text_field :title_03 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">內文</th>
              <td height="20" align="left" valign="top"><%= f.text_area :content_03, :cols => "", :rows => "", :class => "autogrow" %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">連結</th>
              <td align="left" valign="top"><%= f.text_field :hyperlink_03 %></td>
            </tr>
            <tr>
              <th align="left" valign="top">&nbsp;</th>
              <th align="left" valign="top">上傳</th>
              <td align="left" valign="top"><%= f.file_field :excerpt_image_03 %></td>
            </tr>
          </table>

        </div>
        <!--main-banner-->
        <div class="button"><%= f.submit "" %>
          <a>
          <img src="<%= get_current_host_and_port %>images/save.png">儲存</a>
        </div>
        <div class="button">
          <a href="<%= admin_banner_path(@banner) %>"><img src="<%= get_current_host_and_port %>images/cancel.png">取消</a>
        </div>
        </div>
    <% end %>
    <!--main-->
    </div>
<!--container-->
<div id="footer"></div>
<!--footer-->