<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @banner.category %>
</p>

<p>
  <b>Title 01:</b>
  <%= @banner.title_01 %>
</p>

<p>
  <b>Content 01:</b>
  <%= @banner.content_01 %>
</p>

<p>
  <b>Hyperlink 01:</b>
  <%= @banner.hyperlink_01 %>
</p>

<% if @banner.excerpt_image_01? %>
<p>
  <%= image_tag(@banner.excerpt_image_01.url(:medium)) %>
</p>
<% end %>

<p>
  <b>Title 02:</b>
  <%= @banner.title_02 %>
</p>

<p>
  <b>Content 02:</b>
  <%= @banner.content_02 %>
</p>

<p>
  <b>Hyperlink 02:</b>
  <%= @banner.hyperlink_02 %>
</p>

<% if @banner.excerpt_image_02? %>
<p>
  <%= image_tag(@banner.excerpt_image_02.url(:medium)) %>
</p>
<% end %>

<p>
  <b>Title 03:</b>
  <%= @banner.title_03 %>
</p>

<p>
  <b>Content 03:</b>
  <%= @banner.content_03 %>
</p>

<p>
  <b>Hyperlink 03:</b>
  <%= @banner.hyperlink_03 %>
</p>

<% if @banner.excerpt_image_03? %>
<p>
  <%= image_tag(@banner.excerpt_image_03.url(:medium)) %>
</p>
<% end %>


<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
