<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
<div id="container">
  <div id="main" class="main-sign">
    <h2><img src="<%=get_current_host_and_port%>images/psw.png" width="16" height="16" /> 忘記密碼了？</h2>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left">請輸入您註冊使用的e-mail<br>
          <%= f.email_field :email %></td>
      </tr>
    </table>
    <div class="button">
      <%= f.submit "" %>
      <img src="<%=get_current_host_and_port%>images/mail.png"><a>寄出</a></div>
  </div>
  <!--main--> 
</div>
<% end %>
<!--container-->
<div id="footer"></div>
<!--footer-->