<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Content:</b>
  <%= @video.content %>
</p>


<%= link_to 'Edit', edit_category_video_path(@category, @video) %> |
<%= link_to 'Back', category_path(@category) %>
