<div id="side" class="left">
  <ul>
    <li>
      <%if params[:controller]=="admin/news_updates"%>
        <a href="<%=admin_news_updates_path%>" id="update" class="active">最新消息</a>  
      <% else %>
        <a href="<%=admin_news_updates_path%>" id="update">最新消息</a>
      <%end%>
    </li>

    <li><a href="#" id="course">XQ課程資訊</a></li>
    <li>
      <%if params[:controller]=="admin/courses"%>
        <a href="<%=online_admin_courses_path%>" id="update" class="active">XQ課程資訊</a>  
      <% else %>
        <a href="<%=online_admin_courses_path%>" id="update">XQ課程資訊</a>
      <%end%>
    </li>

    <li><a href="#" id="video">實機線上影片</a></li>

    <li>
      <%if params[:controller]=="admin/experiences"%>
        <a href="<%=admin_experiences_path%>" id="banner" class="active">體驗XQ模組</a>
      <% else %>
        <a href="<%=admin_experiences_path%>" id="banner">體驗XQ模組</a>
      <%end%>
    </li>

    <li>
      <%if params[:controller]=="admin/banners"%>
        <a href="<%=admin_banner_path(Banner.first)%>" id="banner" class="active">專家秘訣模組</a>
      <% else %>
        <a href="<%=admin_banner_path(Banner.first)%>" id="banner">專家秘訣模組</a>
      <%end%>
    </li>
    <li>
      <%if params[:controller]=="users" && params[:action]=="index"%>
        <a href="<%=users_path%>" id="users" class="active">使用者管理</a>
      <% else %>
        <a href="<%=users_path%>" id="users">使用者管理</a>
      <%end%>
    </li>
  </ul>
</div>
<!--side-->
