<div id="header">
  <div id="header-inside">
    <h1><img src="<%= get_current_host_and_port %>application/images/logo.png" title="XQ全球贏家"/></h1>
    <ul id="nav">
      <li><a href="<%= root_url %>">回首頁</a></li>
      <% if params[:controller]=="static_pages" && params[:action]=="traits" %>
          <li class="active"><a href="<%= traits_url %>">產品特色</a></li>
      <% else %>
          <li><a href="<%= traits_url %>">產品特色</a></li>
      <% end %>

      <% if params[:controller]=="courses" %>
          <li class="active"><a href="<%= courses_url %>">實務課程</a></li>
      <% else %>
          <li><a href="<%= courses_url %>">實務課程</a></li>
      <% end %>

      <% if params[:controller]=="categories" %>
          <li class="active"><a href="<%= category_url(Category.first) %>">實機教學</a></li>
      <% else %>
          <li><a href="<%= category_url(Category.first) %>">實機教學</a></li>
      <% end %>

      <% if params[:controller]=="static_pages" && params[:action]=="download_contents" %>
          <li class="active"><a href="<%= download_contents_url %>">下載專區</a></li>
      <% else %>
          <li><a href="<%= download_contents_url %>">下載專區</a></li>
      <% end %>

      <% if params[:controller]=="static_pages" && params[:action]=="purchasing" %>
          <li class="active"><a href="<%= purchasing_url %>">我要購買</a></li>
      <% else %>
          <li><a href="<%= purchasing_url %>">我要購買</a></li>
      <% end %>

      <li><a href="#">討論區</a></li>
    </ul>
    <!--nav-->
    <% if params[:controller]=="static_pages" && params[:action]=="traits" %>
        <ul id="nav-child">
          <% if params[:controller]=="static_pages" && params[:action]=="traits" %>
              <li class="active"><a href="<%= traits_url %>">產品特色</a></li>
          <% else %>
              <li><a href="<%= traits_url %>">產品特色</a></li>
          <% end %>
          <li><a href="questions.html">常見問題</a></li>
          <li><a href="online-demonstrations.html">線上體驗</a></li>
          <li><a href="download-dms.html">ＤＭ下載</a></li>
          <li><a href="apply-for-experiences.html">申請實機體驗</a></li>
        </ul>
    <% end %>
  </div>
  <!--header-inside-->
</div>