<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<% if !@css_path.nil? %>
<link rel="stylesheet" href="<%= @css_path %>">
<% end %>


<div id="header">
  <div id="header-inside">
    <h1><a href="<%= root_url %>"><img src="<%= get_current_host_and_port %>application/images/logo.png" title="XQ全球贏家"/></a></h1>
    <ul id="nav">
      <% if params[:controller]=="static_pages" || params[:controller]=="experiences" %>
          <% if params[:action]=="traits" || params[:action]=="traits_of_xqlite" || params[:action]=="questions" || params[:controller]=="experiences" %>
              <li class="active"><a href="<%= traits_url %>">產品特色</a></li>
          <% else %>
              <li><a href="<%= traits_url %>">產品特色</a></li>
          <% end %>
      <% else %>
          <li><a href="<%= traits_url %>">產品特色</a></li>
      <% end %>

        <li <%= 'class="active"'.html_safe if (params[ :controller ] == "static_pages" && params[:id].to_s.split('-')[0] == "radar") || params[ :controller ] == "posts"  %>><a href="<%= page_path( :id => 'radar-intro' ) %>">策略功能</a></li>

      <% if params[:controller]=="static_pages" || params[:action]=="xqtrade" %>
          <% if params[:action]=="xqtrade" || params[:action]=="xqtrade_ca" || params[:action]=="xqtrade_faq" || params[:action]=="xqtrade_manual" || params[:action]=="xqtrade_service" || params[:action]=="xqtrade_partner" %>
              <li class="active"><a href="<%= xqtrade_url %>">交易功能</a></li>
          <% else %>
              <li><a href="<%= xqtrade_url %>">交易功能</a></li>
          <% end %>
      <% else %>
          <li><a href="<%= xqtrade_url %>">交易功能</a></li>
      <% end %>

      <% if params[:controller]=="courses" %>
          <li class="active"><a href="<%= courses_url %>">實務課程</a></li>
      <% else %>
          <li><a href="<%= courses_url %>">實務課程</a></li>
      <% end %>

      <% if params[:controller]=="categories" || (params[:controller]=="static_pages" && params[:action]=="online_demonstrations") %>
          <li class="active"><a href="<%= category_url(Category.last) if Category.last%>">實機教學</a></li>
      <% else %>
          <li><a href="<%= category_url(Category.last) if Category.last%>">實機教學</a></li>
      <% end %>

      <% if params[:controller]=="writings" %>
      	<li class="active"><a href="<%= writings_path %>">專家分享</a></li>
      <% else %>
      	<li><a href="<%= writings_path %>">專家分享</a></li>
      <% end %>

      <% if params[:controller]=="static_pages" && (params[:action]=="download_contents" || params[:action]=="download_dms" ||
        params[:action]=="customize" || params[:action]=="manual" ) %>
          <li class="active"><a href="<%= download_contents_url %>">下載區</a></li>
      <% else %>
          <li><a href="<%= download_contents_url %>">下載區</a></li>
      <% end %>

      <% if params[:controller]=="static_pages" && ( params[:action]=="purchasing" || params[:action]=="purchasing_xqlite" ) %>
          <li class="active"><a href="<%= purchasing_url %>">我要購買</a></li>
      <% else %>
          <li><a href="<%= purchasing_url %>">我要購買</a></li>
      <% end %>

      <li><a href="http://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342" target="_blank">粉絲團</a></li>
    </ul>
    <!--nav-->
    <% if params[:controller]=="static_pages" || params[:controller]=="experiences" %>
        <% if params[:action]=="traits" || params[:action]=="traits_of_xqlite" || params[:action]=="questions" || params[:controller]=="experiences" %>
            <ul id="nav-child">
              <% if params[:action]=="traits" %>
                  <li class="active"><a href="<%= traits_url %>">XQ全球贏家</a></li>
              <% else %>
                  <li><a href="<%= traits_url %>">XQ全球贏家</a></li>
              <% end %>

              <% if params[:action]=="traits_of_xqlite" %>
                  <li class="active"><a href="<%= traits_of_xqlite_url %>">XQ操盤高手</a></li>
              <% else %>
                  <li><a href="<%= traits_of_xqlite_url %>">XQ操盤高手</a></li>
              <% end %>

              <% if params[:controller]=="experiences"%>
                  <li class="active"><a href="<%= new_experience_url %>">申請試用</a></li>
              <% else %>
                  <li><a href="<%= new_experience_url %>">申請試用</a></li>
              <% end %>

              <% if params[:action]=="questions" %>
                  <li class="active"><a href="<%= questions_url %>">常見問題</a></li>
              <% else %>
                  <li><a href="<%= questions_url %>">常見問題</a></li>
              <% end %>

            </ul>
        <% end %>
    <% end %>

   <% if params[:controller]=="static_pages" || params[:action]=="xqtrade" %>
        <% if params[:action]=="xqtrade" || params[:action]=="xqtrade_partner" || params[:action]=="xqtrade_ca" || params[:action]=="xqtrade_faq" || params[:action]=="xqtrade_manual" || params[:action]=="xqtrade_service" %>
            <ul id="nav-child">
              <% if params[:action]=="xqtrade" %>
                  <li class="active"><a href="<%= xqtrade_url %>">交易功能</a></li>
              <% else %>
                  <li><a href="<%= xqtrade_url %>">交易功能</a></li>
              <% end %>

              <% if params[:action]=="xqtrade_partner" %>
                  <li class="active"><a href="<%= xqtrade_partner_url %>">合作夥伴</a></li>
              <% else %>
                  <li><a href="<%= xqtrade_partner_url %>">合作夥伴</a></li>
              <% end %>

              <% if params[:action]=="xqtrade_faq" %>
                  <li class="active"><a href="<%= xqtrade_faq_url %>">常見問題</a></li>
              <% else %>
                  <li><a href="<%= xqtrade_faq_url %>">常見問題</a></li>
              <% end %>

              <% if params[:action]=="xqtrade_manual" %>
                  <li class="active"><a href="<%= xqtrade_manual_url %>">使用手冊</a></li>
              <% else %>
                  <li><a href="<%= xqtrade_manual_url %>">使用手冊</a></li>
              <% end %>
            </ul>
        <% end %>
   <% end %>

   <% if params[:controller]=="courses" && params[:action]=="index" %>
        <ul id="nav-child">
          <% if params[:action]=="index" %>
              <li class="active"><a href="<%= courses_url %>">講座課程</a></li>
          <% else %>
              <li><a href="<%= courses_url %>">講座課程</a></li>
          <% end %>
        </ul>
   <% end %>

   <% if (params[:controller]=="static_pages" && params[:id].to_s.split('-')[0] == "radar") || params[ :controller ] == "posts" %>
    <ul id="nav-child">
          <li <%= 'class="active"'.html_safe if params[:id]=="radar-intro" %>><a href="<%= page_path( :id => "radar-intro" ) %>">策略雷達</a></li>
          <li><a href="<%= category_path( Category.last ) %>">影片教學</a></li>
          <li <%= 'class="active"'.html_safe if params[:controller]=="posts" %>><a href="<%= posts_path %>">討論區</a></li>
          <li <%= 'class="active"'.html_safe if params[:id]=="radar-qa" %>><a href="<%= page_path( :id => "radar-qa" ) %>">常見問題</a></li>
          <li><a href="http://xshelp.xq.com.tw/xslesson/">語法教學</a></li>
          <li><a href="http://xshelp.xq.com.tw">函數搜尋</a></li>
    </ul>
   <% end %>

   <% if params[:controller]=="categories" || params[:action]=="online_demonstrations" %>
        <ul id="nav-child">
          <% if params[:id]=="4" %>
              <li class="active"><a href="<%= category_url(4) %>">全新策略教戰</a></li>
          <% else %>
              <li><a href="<%= category_url(4) %>">全新策略教戰</a></li>
          <% end %>

          <% if params[:id]=="1" %>
              <li class="active"><a href="<%= category_url(1) %>">獨家操作教戰</a></li>
          <% else %>
              <li><a href="<%= category_url(1) %>">獨家操作教戰</a></li>
          <% end %>

          <% if params[:id]=="2" %>
              <li class="active"><a href="<%= category_url(2) %>">獨家資訊教戰</a></li>
          <% else %>
              <li><a href="<%= category_url(2) %>">獨家資訊教戰</a></li>
          <% end %>

          <% if params[:id]=="3" %>
              <li class="active"><a href="<%= category_url(3) %>">獨家分析教戰</a></li>
          <% else %>
              <li><a href="<%= category_url(3) %>">獨家分析教戰</a></li>
          <% end %>

          <% if params[:action]=="online_demonstrations" %>
              <li class="active"><a href="<%= online_demonstrations_url %>">線上體驗</a></li>
          <% else %>
              <li><a href="<%= online_demonstrations_url %>">線上體驗</a></li>
          <% end %>
        </ul>
   <% end %>

   <% if params[:controller]=="writings" %>
        <ul id="nav-child">
          <% if params[:action]=="index" %>
              <li class="active"><a href="<%= writings_path %>">專家分享</a></li>
          <% else %>
              <li><a href="<%= writings_path %>">專家分享</a></li>
          <% end %>
        </ul>
   <% end %>

   <% if params[:controller]=="static_pages" && (params[:action]=="download_contents" || params[:action]=="download_dms" ||
     params[:action]=="customize" || params[:action]=="manual" ) %>
        <ul id="nav-child">
          <% if params[:action]=="download_contents" %>
              <li class="active"><a href="<%= download_contents_url %>">程式下載</a></li>
          <% else %>
              <li><a href="<%= download_contents_url %>">程式下載</a></li>
          <% end %>

          <% if params[:action]=="customize" %>
              <li class="active"><a href="<%= customize_url %>">自設畫面</a></li>
          <% else %>
              <li><a href="<%= customize_url %>">自設畫面</a></li>
          <% end %>

          <% if params[:action]=="manual" %>
              <li class="active"><a href="<%= manual_url %>">使用手冊</a></li>
          <% else %>
              <li><a href="<%= manual_url %>">使用手冊</a></li>
          <% end %>

          <% if params[:action]=="download_dms" %>
              <li class="active"><a href="<%= download_dms_url %>">ＤＭ下載</a></li>
          <% else %>
              <li><a href="<%= download_dms_url %>">ＤＭ下載</a></li>
          <% end %>
        </ul>
   <% end %>

   <% if params[:controller]=="static_pages" && (params[:action]=="purchasing" || params[:action]=="purchasing_xqlite" ) %>
        <ul id="nav-child">
          <% if params[:action]=="purchasing" %>
              <li class="active"><a href="<%= purchasing_url %>">XQ旗艦版</a></li>
          <% else %>
              <li><a href="<%= purchasing_url %>">XQ旗艦版</a></li>
          <% end %>

          <% if params[:action]=="purchasing_xqlite" %>
              <li class="active"><a href="<%= purchasing_xqlite_url %>">XQ輕量版</a></li>
          <% else %>
              <li><a href="<%= purchasing_xqlite_url %>">XQ輕量版</a></li>
          <% end %>
        </ul>
   <% end %>

  </div>
  <!--header-inside-->
</div>
