<script type="text/javascript">
$(function(){
	var $win = $(window).scroll(function(){
		if($win.scrollTop() >= 200){$('#back').fadeIn(500)} else {$('#back').fadeOut(500);}
	});
});
</script>
<style>
#back{display:none;position:fixed;bottom:5px;left:5px}
</style>


<div id="footer"> <span>嘉實資訊股份有限公司©2013 XQ.com.tw / All Right Reserved.</span> <span style="margin:0 100px">客戶免付費電話：0800-006-098</span> <span>客服信箱：<a href="mailto:XQservice@XQ.com.tw" target="_blank">XQservice@XQ.com.tw</a> </span> </div>
<!--footer-->

<div id="link">
  <div class="link-box">
    <h5 class="link-title">產品特色</h5>
    <ul class="link-text">
      <li><a href="<%= traits_url %>">三大特色</a></li>
      <li><a href="<%= online_demonstrations_url %>">線上體驗產品</a></li>
      <li><a href="<%= new_experience_url %>">申請試用</a></li>
      <li><a href="<%= download_dms_url %>">DM下載</a></li>
      <li><a href="<%= questions_url %>">常見問題</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">策略雷達</h5>
    <ul class="link-text">
      <li><a href="<%= page_path( :id => 'radar-intro' ) %>">功能介紹</a></li>
      <li><a href="<%= category_path( :id => 1 ) %>">影片教學</a></li>
      <li><a href="<%= posts_path %>">討論區</a></li>
      <li><a href="<%= page_path( :id => 'radar-qa' ) %>">常見問題</a></li>
      <li><a href="http://kmfile.funddj.com/XSWebHelp/index.xdjhtm" target="_blank">函數搜尋</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">交易區</h5>
    <ul class="link-text">
      <li><a href="<%= xqtrade_url %>">交易功能</a></li>
      <li><a href="<%= xqtrade_partner_url %>">合作夥伴</a></li>
      <li><a href="<%= xqtrade_ca_url %>">憑證中心</a></li>
      <li><a href="<%= xqtrade_faq_url %>">常見問題</a></li>
      <li><a href="<%= xqtrade_manual_url %>">使用手冊</a></li>
      <li><a href="<%= xqtrade_service_url %>">客服窗口</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實務課程</h5>
    <ul class="link-text">
      <li><a href="<%= courses_url %>">講座課程</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">實機教學</h5>
    <ul class="link-text">
      <%
         @categories = Category.limit(4)
         @category_01 = @categories[0]
         @category_02 = @categories[1]
         @category_03 = @categories[2]
		 @category_04 = @categories[3]
      %>
	  <li><a href="<%= category_url(@category_04) if @category_04%>"><%= @category_04.name if @category_04%></a></li>
      <li><a href="<%= category_url(@category_01) if @category_01%>"><%= @category_01.name if @category_01%></a></li>
      <li><a href="<%= category_url(@category_02) if @category_02%>"><%= @category_02.name if @category_02%></a></li>
      <li><a href="<%= category_url(@category_03) if @category_03%>"><%= @category_03.name if @category_03%></a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">下載區</h5>
    <ul class="link-text">
      <li><a href="<%= download_contents_url %>#setup">XQ主程式</a></li>
      <li><a href="http://login.xq.com.tw/dassvr/installer/setup.exe">XQ+XS策略雷達主程式</a></li>
      <li><a href="<%= download_contents_url %>#manual">XQ使用手冊</a></li>
      <li><a href="#">XS策略雷達使用手冊</a></li>
      <li><a href="<%= download_contents_url %>#file">XQ自設畫面檔案</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">專家分享</h5>
    <ul class="link-text">
      <li><a href="<%= writings_path %>">專家分享</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">我要購買</h5>
    <ul class="link-text">
      <li><a href="<%= purchasing_url %>">方案及軟體</a></li>
    </ul>
  </div>
  <!--link-box-->
  <div class="link-box">
    <h5 class="link-title">粉絲團</h5>
    <ul class="link-text">
      <li><a href="http://www.facebook.com/pages/XQ%E5%85%A8%E7%90%83%E8%B4%8F%E5%AE%B6/178222061342" target="_blank">粉絲團</a></li>
    </ul>
  </div>
  <!--link-box--> 
</div>
<!--link-->
