<script type="text/javascript" src="<%= get_current_host_and_port %>application/js/jquery.colorbox-min.js"></script>
<script>
    $(document).ready(function () {
        $(".inline").colorbox({inline:true, width:"590", height:"150"});
    });
</script>
<style>
html {background: url(http://54.243.52.208/application/images/cs-04.jpg) 0 0 repeat-x #D63B0D}
body {font-family: "微軟正黑體";line-height: 28px;width: 550px;margin: 30px auto 5px auto;padding: 30px 20px;background: #fff;color: #555}
h1 {font: 300 40px ""微軟正黑體"";color: #a72c07;height: 60px;border-bottom: 1px solid #ddd}
input {width: 100%;padding: 5px 0;border: 1px solid #DADADA}
#send_button{background: url(http://54.243.52.208/application/images/afe-01.jpg) 0 0 repeat-x #D63B0D;width:195px;height:47px;border:0;cursor:pointer}
#send_button:hover{opacity: .85}
hr {background: url(<%= get_current_host_and_port %>application/images/cs-hr.jpg) 0 0 no-repeat;width: 550px;height: 14px;*height:1px;border: 0}
#reset_button{color:#222}
</style>
<%= form_for([@course, @course.enrollments.build], :validate => true) do |f| %>
    <h1>課程報名表</h1>
    <table width="550" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="15%" align="right">姓名</td>
        <td width="35%"><%= f.text_field :name %></td>
        <td width="15%" align="right">電話</td>
        <td width="35%"><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td align="right">Email</td>
        <td colspan="3"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td align="right">公司名稱</td>
        <td colspan="3"><%= f.text_field :company %></td>
      </tr>
      <tr>
        <td align="right">職稱</td>
        <td colspan="3"><%= f.text_field :professional_title %></td>
      </tr>
    </table>
    <hr>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <tr>
            <td align="right"><a href="<%= new_course_enrollment_url %>" id="reset_button">清除重填</a></td>
			<td align="right" width="195"><%= f.submit "", {:id => 'send_button', :onClick => 'checkForm();'} %></td>
		</tr>            
    </table>
<% end %>