<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="報名者資料">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">活動資料</Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">編號</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.id%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">場次</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.session%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">主題</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.subject%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">上限</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.registration_quota%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">已報名人數</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.enrollments.count%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">餘額</Data></Cell>
        <Cell><Data ss:Type="String"><%=@course.registration_quota - @course.enrollments.count%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">報名者資料</Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">職稱</Data></Cell>
        <Cell><Data ss:Type="String">公司名稱</Data></Cell>
        <Cell><Data ss:Type="String">電話</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
      </Row>
    <% @enrollments.each do |enrollment| %>
      <Row>
        <Cell><Data ss:Type="String"><%= enrollment.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= enrollment.professional_title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= enrollment.company %></Data></Cell>
        <Cell><Data ss:Type="String"><%= enrollment.phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= enrollment.email %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>