<h1>Listing enrollments</h1>
<%= link_to 'Download xls file', url_for(:format => 'xls') %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th>Professional title</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrollments.each do |enrollment| %>
  <tr>
    <td><%= enrollment.name %></td>
    <td><%= enrollment.email %></td>
    <td><%= enrollment.phone %></td>
    <td><%= enrollment.company %></td>
    <td><%= enrollment.professional_title %></td>
    <td><%= enrollment.course %></td>

  </tr>
<% end %>
</table>

<br />


