<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/reset.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/style.css">
<link rel="stylesheet" href="<%= get_current_host_and_port %>application/css/colorbox.css"/>
<script type="text/javascript" src="<%= get_current_host_and_port %>application/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="<%= get_current_host_and_port %>application/js/jquery.colorbox-min.js"></script>
<script>
    $(document).ready(function () {
        $(".iframe").colorbox({iframe:true, width:"630", height:"540"});
        $("#click").click(function () {
            $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
            return false;
        });
        $(".inline").colorbox({inline:true, width:"590", height:"150"});
        var last_page = document.referrer;
        var current_page = jQuery(location).attr('href')
        if (last_page == current_page) {
            $('#thanks').trigger('click')
        }

        <% if cookies[:display] == "true" %>
        if (jQuery.browser.mozilla) {
            $('#thanks').trigger('click')
        }
        <% end %>

    });
</script>
<style>
    #banner {
        background-image: url(<%=get_current_host_and_port%>application/images/banner-cs.jpg)
    }

    hr {
        background: url(<%=get_current_host_and_port%>application/images/cs-hr.jpg) 0 0 no-repeat;
        width: 800px;
        height: 14px;
        border: 0
    }

    .box {
        margin: 25px 0
    }

    h4 {
        font: 300 20px "微軟正黑體";
        color: #a72c07;
        height: 35px
    }

    .visitors {
        background: #ECECEC;
        border-radius: 5px;
        width: 100%;
        height: 75px;
        padding-top: 25px
    }

    .visitors span {
        font-size: 22px;
        color: #a90101
    }

    .iframe:hover {
        opacity: .85
    }

    #cboxClose {
    }
</style>
<a id="data" style="display:none"></a>
<a href="#msg" class='inline' id="thanks"></a>
<div style="display:none">
  <div id="msg">
    <p>感謝您，我們將由專員盡速與您連絡</p>
  </div>
  <!--msg-->
</div>
<%= render :partial => "shared/application_top" %>
<!--header-->
<div id="container">
  <div id="main">
    <div id="banner">
      <h2>實務課程資訊</h2>
    </div>
    <!--banner-->
    <div id="content">
      <% @courses.each do |course|
        date_time = course.start_time.split(' ')
        date = date_time[0]
        date_split = date.split('/')
        month = date_split[0].to_i()
        day = date_split[1].to_i()
        year = date_split[2].to_i()
        temp_start_time = year * 365 + month * 30 + day
        current_time = Time.now.year * 365 + Time.now.month * 30 + Time.now.day
      %>
          <% if temp_start_time > current_time %>
              <% if course.registration_quota - course.enrollments.count==0 %>
                  <div class="box">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="69%">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="info">
                            <tr>
                              <td colspan="2"><h4><%= course.session %></h4></td>
                            </tr>
                            <tr>
                              <td width="14%" valign="top">課程主題：</td>
                              <td width="86%"><%= course.subject %></td>
                            </tr>
                            <tr>
                              <td valign="top">上課時間：</td>
                              <td><%= course.start_time %>~<%= course.end_time %></td>
                            </tr>
                            <tr>
                              <td>上課地點：</td>
                              <td><%= raw course.address.gsub("\n", "<br />") %></td>
                            </tr>
                            <tr>
                              <td valign="top">課堂講師：</td>
                              <td><%= course.lecturer %></td>
                            </tr>
                            <tr>
                              <td valign="top">上課內容：</td>
                              <td><%= raw course.content.gsub("\n", "<br />") %></td>
                            </tr>
                          </table>
                        </td>
                        <td width="31%" valign="top">
                          <img src="<%= get_current_host_and_port %>application/images/cs-01.jpg"/></td>
                      </tr>
                    </table>
                  </div>
              <% else %>
                  <div class="box">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="69%">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="info">
                            <tr>
                              <td colspan="2"><h4><%= course.session %></h4></td>
                            </tr>
                            <tr>
                              <td width="14%" valign="top">課程主題：</td>
                              <td width="86%"><%= course.subject %></td>
                            </tr>
                            <tr>
                              <td valign="top">上課時間：</td>
                              <td><%= course.start_time %>~<%= course.end_time %></td>
                            </tr>
                            <tr>
                              <td>上課地點：</td>
                              <td><%= raw course.address.gsub("\n", "<br />") %></td>
                            </tr>
                            <tr>
                              <td valign="top">課堂講師：</td>
                              <td><%= course.lecturer %></td>
                            </tr>
                            <tr>
                              <td valign="top">上課內容：</td>
                              <td><%= raw course.content.gsub("\n", "<br />") %></td>
                            </tr>
                          </table>
                        </td>
                        <td width="31%" valign="top">
                          <table width="100%" border="0" cellspacing="5" cellpadding="0" class="join">
                            <tr>
                              <td colspan="3">
                                <a href="#"><img src="<%= get_current_host_and_port %>application/images/cs-02.jpg" width="263" height="47" class='iframe' href="<%= new_course_enrollment_path(course) %>" id="someid"/></a>
                              </td>
                            </tr>
                            <tr>
                              <td width="33%" align="center" valign="middle">
                                <div class="visitors">名額上限<br>
                                  <span><%= course.registration_quota %></span></div>
                              </td>
                              <td width="34%" align="center" valign="middle">
                                <div class="visitors">報名餘額<br>
                                  <span><%= course.registration_quota - course.enrollments.count %></span></div>
                              </td>
                              <td width="33%" align="center" valign="middle">
                                <div class="visitors">已報名人數<br>
                                  <span><%= course.enrollments.count %></span></div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
              <% end %>
              <hr/>
          <% end %>
      <% end %>
      <div class="box"></div>
      <div class="box"></div>
    </div>
    <!--content-->
  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
  <!--link-->
</div>
<!--container-->