<% @css_path = get_current_host_and_port + "application/css/radar-discuss.css" %>
<%= render :partial => "shared/application_top" %>

<div id="container">
  <div id="main">
    <div id="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="46%">標題</th>
    <th width="12%">分類</th>
    <th width="12%">作者</th>
    <th width="14%">回覆/瀏覽數</th>
    <th width="16%">最後發表</th>
  </tr>
    
  
  <% @posts.each do | post | %>  
  <tr>
    <td class="tbl"><a target="_blank" href="<%= post["lastposturl"].to_s.gsub(/((\#lastpost)|(\&page=end))/, '') %>"><%= post["title"] %></a></td>
    <td align="center"><a target="_blank" href="<%= post["forumurl"] %>"><%= post["forumname"] %></a></td>
    <td align="center"><a target="_blank" href="<%= post["posterurl"] %>"><%= post["poster"] %></a></td>
    <td align="center"><em><%= post["replycount"] %></em> / <%= post["viewcount"] %></td>
    <td class="tbl"><a target="_blank" href="<%= post["lastposterurl"] %>"><%= post["lastposter"] %></a><br />
      <a target="_blank" href="<%= post["lastposturl"] %>"><span><%= post["lastpostdate"] %></span></a></td>
  </tr>  
  <% end %>
  
</table>
      <div id="pages">
        <ul>
        <% (1..(@post_info["totalpage"] > 3 ? 3 : @post_info["totalpage"] ) ).each do | i | %>        
          <li <%= 'class="active"'.html_safe if i == params[ :page ].to_i %>><a href="<%= posts_path( :page => i ) %>"><%= i %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
    <!--content--> 
  </div>
  <!--main-->
  
<%= render :partial => "shared/application_footer" %>
<!--link-->
</div>
<!--container-->