<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
    <%= form_for( [:admin,@experience]) do |f| %>
    <% if @experience.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

        <ul>
        <% @experience.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="main" class="right">
      <div class="main-data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th width="7%" align="left">日期</th>
            <td width="15%" align="left"><%=@experience.updated_at.to_date%></td>
            <th width="7%" align="left">姓名</th>
            <td width="12%" align="left"><%= @experience.contact_person %></td>
            <th width="12%" align="left">公司名稱</th>
            <td width="47%" align="left"><%= @experience.company_name %></td>
          </tr>
        <tr>
            <th align="left">電話</th>
            <td align="left"><%= @experience.attendant_number %></td>
            <th align="left">人數</th>
            <td align="left"><%= @experience.attendant_number %></td>
            <th align="left">Email</th>
            <td align="left"><%= @experience.email %></td>
          </tr>
        
        </table>
      </div>
      <div class="main-text"> <%= f.text_area :comment, :rows => 0, :cols => 0, :class => 'autogrow' %></div>
      <div class="button"><%= f.submit "" %><img src="<%=get_current_host_and_port%>images/save.png">儲存</div>
      <div class="button"><a href="<%=admin_experiences_path%>"><img src="<%=get_current_host_and_port%>images/cancel.png">取消</a></div>
    </div>
  <% end %>
  <!--main--> 
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->