<%= render :partial => "shared/application_top" %>
<!--header-->
<div id="container">
  <div id="main">
    <div id="side" class="left">
      <ul class="tabs">
        <% if params[:id]== @category_01.id.to_s() %>
            <li class="active"><a href="<%= category_path(@category_01) %>"><%= @category_01.name %></a></li>
        <% else %>
            <li><a href="<%= category_path(@category_01) %>"><%= @category_01.name %></a></li>
        <% end %>
        <% if params[:id]== @category_02.id.to_s() %>
            <li class="active"><a href="<%= category_path(@category_02) %>"><%= @category_02.name %></a></li>
        <% else %>
            <li><a href="<%= category_path(@category_02) %>"><%= @category_02.name %></a></li>
        <% end %>
        <% if params[:id]== @category_03.id.to_s() %>
            <li class="active"><a href="<%= category_path(@category_03) %>"><%= @category_03.name %></a></li>
        <% else %>
            <li><a href="<%= category_path(@category_03) %>"><%= @category_03.name %></a></li>
        <% end %>
      </ul>
    </div>
    <!--side-->
    <div id="content" class="right">
      <div id="tab1" class="tab_content">
        <% @videos.each do |video| %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="52%" rowspan="2" align="left" valign="top">
                  <img src="<%= video.image_url(:thumb) %>" width="233" height="164"/>
                </td>
                <td height="122" colspan="2" align="left" valign="top"><h4><%= video.title %></h4>
                  <%= raw video.content.gsub("\n", "<br />") %>
                </td>
              </tr>
              <tr>
                <td width="26%">
                  <% if browser.ie7? || browser.ie8? %>
                      <a href="<%= category_video_path(@category, video) %>" class='iframe'><img src="<%= get_current_host_and_port %>application/images/vd-02.jpg" width="147" height="41"/></a>
                  <% else %>
                      <a href="<%= category_video_path(@category, video) %>" class='inline'><img src="<%= get_current_host_and_port %>application/images/vd-02.jpg" width="147" height="41"/></a>
                  <% end %>
                </td>
                <td width="22%">
                  <a href="<%= download_category_video_path(@category, video) %>"><img src="<%= get_current_host_and_port %>application/images/vd-03.jpg" width="147" height="41"/></a>
                </td>
              </tr>
            </table>
            <hr/>
            <div style="display: none">
              <div id="video_frame">
                <video width="640" height="480" src="<%= video.video_url %>" type="video/mp4"
                       id="player1" poster="<%= video.image_url(:thumb) %>"
                       controls="controls" preload="none"></video>
              </div>

            </div>
        <% end %>
      </div>
      <!--tab1-->
    </div>
    <!--content-->

  </div>
  <!--main-->
  <%= render :partial => "shared/application_footer" %>
  <!--link-->
</div>
<!--container-->
<script>
    $('audio,video').mediaelementplayer({
        success:function (player, node) {
            $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
        }
    });
</script>