<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<%= link_to 'Add new video', new_category_video_path(@category)%><br />

Videos<br />
<%@videos.each do |video|%>
    <%= video.title %>
    <%= link_to 'Show', category_video_path(@category,video)%>
    <%= link_to 'Destroy', category_video_path(@category,video), confirm: 'Are you sure?', method: :delete %>
    <br />
<%end%>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
