<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enrollment.name %>
</p>

<p>
  <b>Email:</b>
  <%= @enrollment.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @enrollment.phone %>
</p>

<p>
  <b>Company:</b>
  <%= @enrollment.company %>
</p>

<p>
  <b>Professional title:</b>
  <%= @enrollment.professional_title %>
</p>

<p>
  <b>Course:</b>
  <%= @enrollment.course %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
