<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
  <div id="main" class="right">
    <div class="main-title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="16%" height="22" valign="top" class="title"><%=@video.updated_at.to_date%></td>
          <td width="84%" valign="middle" class="text"><%= @video.title %></td>
        </tr>
      </table>
    </div>
    <div class="main-text">
		<%= @video.content.gsub("\n", "<br />").html_safe %>
    </div>
    
    <div class="main-text">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="7%" align="left">URL</th>
          
          <td width="93%"><a href="<%=@video.video_url%>">watch video</a></td>
        </tr>
        <tr>
          <th align="left" valign="top">縮圖</th>
          <td colspan="2"><%= image_tag @video.image_url(:thumb) if @video.image? %></td>
        </tr>
      </table>
      
    </div>
    <div class="button"><a href="<%=edit_admin_category_video_path(@category, @video)%>"><img src="<%=get_current_host_and_port%>images/edit.png">編輯</a></div>
    <div class="button"><a href="<%=admin_category_path(@category)%>"><img src="<%=get_current_host_and_port%>images/back.png">返回</a></div>
  </div>
  
  <!--main--> 
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->