<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
  <div id="main" class="right">
    <div class="main-title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="16%" height="22" valign="top" class="title"><%=@video.updated_at.to_date%></td>
          <td width="84%" valign="middle" class="text"><%= @video.title %></td>
        </tr>
      </table>
    </div>
    <div class="main-text">
		<%= @video.content.gsub("\n", "<br />").html_safe %>
    </div>
    
    <div class="main-text">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="7%" align="left">URL</th>          
          <td width="93%">            
            <video width="640" height="360" id="player2" poster="<%=get_current_host_and_port%>media/echo-hereweare.jpg" controls="controls" preload="none">
              <!-- MP4 source must come first for iOS -->
              <source type="video/mp4" src="<%=@video.video_url%>" />
              <!-- WebM for Firefox 4 and Opera -->
              <source type="video/webm" src="<%=get_current_host_and_port%>media/echo-hereweare.webm" />
              <!-- OGG for Firefox 3 -->
              <source type="video/ogg" src="<%=get_current_host_and_port%>media/echo-hereweare.ogv" />
              <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
              <object width="640" height="360" type="application/x-shockwave-flash" data="<%=get_current_host_and_port%>build/flashmediaelement.swf">     
                <param name="movie" value="<%=get_current_host_and_port%>build/flashmediaelement.swf" /> 
                <param name="flashvars" value="controls=true&poster=<%=get_current_host_and_port%>media/echo-hereweare.jpg&file=<%=get_current_host_and_port%>media/echo-hereweare.mp4" />    
              <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                <img src="<%=get_current_host_and_port%>media/echo-hereweare.jpg" width="640" height="360" alt="Here we are" 
      title="No video playback capabilities" />
              </object>   
            </video>
          </td>
        </tr>
        <tr>
          <th align="left" valign="top">縮圖</th>
          <td colspan="2"><%= image_tag @video.image_url(:thumb) if @video.image? %></td>
        </tr>
      </table>
      
    </div>
    <div class="button"><a href="<%=edit_admin_category_video_path(@category, @video)%>"><img src="<%=get_current_host_and_port%>images/edit.png">編輯</a></div>
    <div class="button"><a href="<%=admin_category_path(@category)%>"><img src="<%=get_current_host_and_port%>images/back.png">返回</a></div>
  </div>
  
  <!--main--> 
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->