<%= render :partial => "shared/admin_top" %>
<!--top-out-->
<div id="container">
  <%= render :partial => "shared/admin_side" %>
  <!--side-->
  <div id="main" class="right">
    <%= render :partial => "status" %>
    <div class="main-list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="main-list-title">
          <th width="15%" align="center" scope="col">課程日期</th>
          <th width="23%" align="left" scope="col">場次</th>
          <th width="38%" align="left" scope="col">主題</th>
          <th width="10%" align="center" scope="col">人數/上限</th>
          <th width="7%" align="center" scope="col">編輯</th>
        </tr>
        <% @courses.each do |course|
        
          current_time = Time.now
        %>
            <% if !course.start_time.nil? && course.start_time > current_time %>
                <tr>
                  <td align="center"><%= course.start_time.to_s( :date ) %></td>
                  <td align="left"><%= course.session %></td>
                  <td align="left"><a href="<%= admin_course_path(course) %>"><%= course.subject %></a></td>
                  <td align="center"><span><%= course.enrollments.count %></span>/<%= course.registration_quota %></td>
                  <td align="center">
                    <a href="<%= edit_admin_course_path(course) %>"><img src="<%= get_current_host_and_port %>images/edit.png" width="16" height="16"/></a>
                  </td>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <!--main-->
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->