<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>後台管理系統</title>
  <%= javascript_include_tag "admin", "rails.validations" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="<%= get_current_host_and_port %>js/jquery-textarea-autogrow.js"></script>
  <link rel="stylesheet" href="<%= get_current_host_and_port %>css/customization.css">
  <link rel="stylesheet" href="<%= get_current_host_and_port %>css/reset.css">
  <link rel="stylesheet" href="<%= get_current_host_and_port %>css/style.css">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" src="<%= get_current_host_and_port %>jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
		$('input[name=commit]').siblings('a').click(function() {
			$(this).siblings('input[name=commit]').click()
		});

          $('form[data-validate=true]').submit(function () {
              return checkForm();
          });

          $('#course_start_time').datetimepicker({
          	  dateFormat: 'yy-mm-dd',
          	  timeFormat: '',
              onClose:function (dateText, inst) {
                  var endDateTextBox = $('#course_end_time');
                  if (endDateTextBox.val() != '') {
                      var testStartDate = new Date(dateText);
                      var testEndDate = new Date(endDateTextBox.val());
                      if (testStartDate > testEndDate)
                          endDateTextBox.val(dateText);
                  }
                  else {
                      endDateTextBox.val(dateText);
                  }
              },
              onSelect:function (selectedDateTime) {
                  var start = $(this).datetimepicker('getDate');
                  $('#course_end_time').datetimepicker('option', 'minDate', new Date(start.getTime()));
              }
          });
          $('#course_end_time').datetimepicker({
          	  dateFormat: 'yy-mm-dd',
          	  timeFormat: '',
              onClose:function (dateText, inst) {
                  var startDateTextBox = $('#course_start_time');
                  if (startDateTextBox.val() != '') {
                      var testStartDate = new Date(startDateTextBox.val());
                      var testEndDate = new Date(dateText);
                      if (testStartDate > testEndDate)
                          startDateTextBox.val(dateText);
                  }
                  else {
                      startDateTextBox.val(dateText);
                  }
              },
              onSelect:function (selectedDateTime) {
                  var end = $(this).datetimepicker('getDate');
                  $('#course_start_time').datetimepicker('option', 'maxDate', new Date(end.getTime()));
              }
          });
      });

	

  </script>
</head>
<body>
<%= yield %>
<%= render :partial => "shared/user_nav" if Rails.env.development? %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
