<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= javascript_include_tag "application", "rails.validations" %>
  <link rel="stylesheet" href="<%= get_current_host_and_port %>css/customization.css">
  <%= csrf_meta_tags %>
  <% if params[:controller]=="static_pages" && params[:action]=="index" %>
      <title>XQ 嘉實全球贏家</title>
      <meta property="og:title" content="XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="traits" %>
      <title>產品特色 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="產品特色│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="questions" %>
      <title>常見問題 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="常見問題│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="online_demonstrations" %>
      <title>線上體驗 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="線上體驗│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="download_dms" %>
      <title>ＤＭ下載 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="ＤＭ下載│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="download_contents" %>
      <title>下載專區 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="下載專區│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="purchasing" %>
      <title>我要購買 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="我要購買│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="experiences" %>
      <title>申請實機體驗 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="申請實機體驗│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="courses" %>
      <title>實務課程資訊 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="實務課程資訊│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="categories" %>
      <title>實機教學 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="實機教學│XQ 嘉實全球贏家"/>
  <% end %>

  <meta name="Robots" content="index,follow"/>
  <link rel="SHORTCUT ICON" href="http://sysjust.summers.com.tw/application/images/favicon.ico">
  <meta http-equiv="content-language" content="zh-TW"/>
  <meta name="keywords" content="基金,法人,投資,股市,期貨,證券交易,外資 "/>
  <meta name="description" content="股市漲漲跌跌，投資選擇基金還是期貨？XQ提供即時精確的證券交易資訊，從盤中大小事到超過百種專業指標，徹底掌握法人、陸資、外資多方觀點。深入了解市場，立足大中華，透析全球財經脈動 ，滿足您投資決策的種種需求，投資先看 XQ 全球贏家。"/>
  <meta property="og:description" content="股市漲漲跌跌，投資選擇基金還是期貨？XQ提供即時精確的證券交易資訊，從盤中大小事到超過百種專業指標，徹底掌握法人、陸資、外資多方觀點。深入了解市場，立足大中華，透析全球財經脈動 ，滿足您投資決策的種種需求，投資先看 XQ 全球贏家。"/>
  <meta name="abstract" content="投資看 XQ，即時掌握全球市場資訊。 "/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content=" XQ 嘉實全球贏家"/>
  <meta name="DC.Rights" content="XQ 全球贏家"/>
  <meta name="DC.Date" content="2012/6/19"/>
  <meta name="DC.Subject" content="財經資訊的提供者 "/>
  <meta name="DC.Type" content="公司網站"/>
  <link rel="image_src" href="http://sysjust.summers.com.tw/application/images/thumb.jpg">
  <meta property="og:image" content="http://sysjust.summers.com.tw/application/images/thumb.jpg">
</head>
<body>
<%= yield %>
<%= render :partial => "shared/user_nav" if Rails.env.development? %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
