<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= javascript_include_tag "application", "rails.validations" %>
  <link rel="stylesheet" href="<%= get_current_host_and_port %>css/customization.css">
  <%= csrf_meta_tags %>
  <% if params[:controller]=="static_pages" && params[:action]=="index" %>
      <title>XQ 嘉實全球贏家</title>
      <meta property="og:title" content="XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="traits" %>
      <title>產品特色 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="產品特色│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="questions" %>
      <title>常見問題 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="常見問題│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="online_demonstrations" %>
      <title>線上體驗 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="線上體驗│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="download_dms" %>
      <title>ＤＭ下載 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="ＤＭ下載│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="download_contents" %>
      <title>下載專區 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="下載專區│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="static_pages" && params[:action]=="purchasing" %>
      <title>我要購買 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="我要購買│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="experiences" %>
      <title>申請實機體驗 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="申請實機體驗│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="courses" %>
      <title>實務課程資訊 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="實務課程資訊│XQ 嘉實全球贏家"/>
  <% end %>
  <% if params[:controller]=="categories" %>
      <title>實機教學 | XQ 嘉實全球贏家</title>
      <meta property="og:title" content="實機教學│XQ 嘉實全球贏家"/>
  <% end %>

  <meta name="Robots" content="index,follow"/>
  <link rel="SHORTCUT ICON" href="http://sysjust.summers.com.tw/application/images/favicon.ico">
  <meta http-equiv="content-language" content="zh-TW"/>
  <meta name="keywords" content="台股,港股,陸股,美股,日股,韓股,指數,期貨,產業,個股,全球,即時金融行情,大中華 "/>
  <meta name="description" content="整合全球股市 – 台、港、中、日、韓、美，隨時監控兩岸三地即時金融行情，全球化觀點分析市場，透過即時財經資料庫與強大的資訊分析能力，搭配彈性的個人化介面，精確提供專業投資人投資決策最佳方案！" />
  <meta property="og:description" content="整合全球股市 – 台、港、中、日、韓、美，隨時監控兩岸三地即時金融行情，全球化觀點分析市場，透過即時財經資料庫與強大的資訊分析能力，搭配彈性的個人化介面，精確提供專業投資人投資決策最佳方案！"/>
  <meta name="abstract" content="投資看 XQ，即時掌握全球市場資訊。 "/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content=" XQ 嘉實全球贏家"/>
  <meta name="DC.Rights" content="XQ 全球贏家"/>
  <meta name="DC.Date" content="2012/9/24"/>
  <meta name="DC.Subject" content="財經資訊的提供者 "/>
  <meta name="DC.Type" content="公司網站"/>
  <link rel="image_src" href="http://sysjust.summers.com.tw/application/images/thumb.jpg">
  <meta property="og:image" content="http://sysjust.summers.com.tw/application/images/thumb.jpg">
</head>
<body>
<%= yield %>
<%= render :partial => "shared/user_nav" if Rails.env.development? %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
